<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/detail.css">
    <script src="js/header.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
    {% include 'common/header.html' %}
    <section class="detail-container">
        <div class="detail-wrap center-wrap">
            <div class="detail-path">
                <span class="detail-path-title">
                    首頁&nbsp;&nbsp;>&nbsp;&nbsp;分類&nbsp;&nbsp;>&nbsp;&nbsp;使用 AI 开发 Vue3 项目，ChatGPT 和 Copilot 能写出 90% 代码
                </span>
            </div>
            <div class="detail-main">
                <div class="detail-main-left">
                    <div class="detail-left-title">
                        <span>
                            使用 AI 开发 Vue3 项目，ChatGPT 和 Copilot 能写出 90% 代码
                        </span>
                    </div>
                    <div class="detail-left-info flex-r">
                        <span class="detail-info-tage">tag</span>
                        <span class="detail-info-collection">collection</span>
                    </div>
                    <div class="detail-content-wrapper">
                        文章正文
                    </div>
                </div>
                <div class="detail-main-right">
                    <div class="detail-right-top flex-r">
                        <div class="author-avatar">
                            avatar
                        </div>
                        <div class="author-desc">
                            <div class="author-name">Jonas</div>
                            <div class="author-title">獨立開發者</div>
                        </div>
                    </div>
                    <div class="detail-right-bottom">
                        推薦文章的信息
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'common/modal.html' %}
</body>
</html>

