<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="不良人互動社群"/>
    <meta property="og:image" content="images/logo.png"/>
    <meta property="og:description" content="挺有意思的社群-不良人互動社群"/>
    <meta property="og:url" content="https://www.baidu.com"/>
    <title>不良人互動社群</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="plugins/ueditor-plus/ueditor.config.js"></script>
    <script src="plugins/ueditor-plus/ueditor.all.js"></script>
    <script src="plugins/ueditor-plus/lang/zh-cn/zh-cn.js"></script>
    <script src="js/header.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
{% include 'common/header.html' %}
<section class="detail-container">
    <div class="detail-wrap center-wrap">
        <div class="detail-path">
                <span class="detail-path-title">
                    首頁&nbsp;&nbsp;>&nbsp;&nbsp;{{ article.label_name }}&nbsp;&nbsp;>&nbsp;&nbsp;{{ article.title }}
                </span>
            <span class="share">
                <i id="copyUrlBtn" class="iconfont icon-eform-fujianliebiao hyperlink" title="複製URL"></i>
                <i class="iconfont icon-facebook facebook" title="分享到Facebook"></i>
                <i class="iconfont icon-line line" title="分享到Line"></i>
                <i class="iconfont icon-twitterB twitter" title="分享到Twitter"></i>
                <i class="iconfont icon-weibo weibo" title="分享到微博"></i>
            </span>
        </div>
        <div class="detail-main">
            <div class="detail-main-left">
                <div class="side-menu">
                    <ul class="side-menu-list">
                        <li>
                            <div class="side-praise-container flex-r">
                                <div class="side-praise-wrapper" id="sidePraise"
                                     data-isLogin="{{ session.get('is_login') }}"
                                     data-aid="{{ article.aid }}">
                                    <i class="iconfont icon-dianzan" id="sidePraiseIcon"></i>
                                </div>
                            </div>
                            <div class="side-recommend" id="sideRecommend">
                                推薦
                            </div>
                        </li>
                        <li class="side-collection-container">
                            <i class="iconfont icon-shoucangxuanzhong icon-collection" id="sideCollectionIcon"
                               data-isLogin="{{ session.get('is_login') }}"></i>
                            <div class="side-collection" id="sideCollection">
                                {{ collected_num or '收藏' }}
                            </div>
                        </li>
                        <li class="side-collection-container">
                            <i class="iconfont icon-pinglun icon-comment" id="sideCommentIcon"></i>
                            <div class="side-comment" id="sideComment">
                                {{ comment_num or '評論' }}
                            </div>
                        </li>
                        <!--            <li>評論</li>-->
                    </ul>
                </div>
                <div class="detail-left-title">
                        <span>
                            {{ article.title }}
                        </span>
                </div>
                <div class="detail-left-info flex-r">
                    <div class="detail-info-tag">
                        <span class="tag-name">標籤:</span>
                        {% for tag_name in tags_list %}
                        <span class="tag-value">
                                {{ tag_name }}
                            </span>
                        {% endfor %}
                    </div>
                    <div class="detail-info-collection" data-isLogin="{{ session.get('is_login') }}"
                         data-aid="{{ article.aid }}" id="doCollect">收藏
                    </div>
                    <script>
                        const $doCollect = document.getElementById('doCollect');
                        const $sideCollection = document.getElementById('sideCollection');
                        const $sideCollectionIcon = document.getElementById('sideCollectionIcon');
                        let collected = 0;
                        let isLogin = $doCollect.getAttribute('data-isLogin');
                        let aid = $doCollect.getAttribute('data-aid');
                        // console.log('isLogin', isLogin);
                        // mounted
                        if (isLogin === 'true') {
                            axios.get('/collect/status', {
                                params: {
                                    aid: aid
                                }
                            }).then(res => {
                                if (res.data.status === 3000) {
                                    collected = res.data.collected;
                                    if (collected) {
                                        $doCollect.innerHTML = '已收藏';
                                        $sideCollectionIcon.classList.add('alter');
                                    } else {
                                        $doCollect.innerHTML = '收藏';
                                        $sideCollectionIcon.classList.remove('alter');
                                    }
                                }
                            });
                        }
                        // click
                        $doCollect.onclick = function () {
                            if (collected) {
                                collected = 0;
                                axios.post('/collect/update', {
                                    aid: aid,
                                    collected: collected
                                }).then(res => {
                                    if (res.data.status === 3000) {
                                        this.innerHTML = '收藏';
                                        $sideCollection.innerHTML = res.data.data;
                                        $sideCollectionIcon.classList.remove('alter');
                                    }
                                });
                            } else {
                                collected = 1;
                                axios.post('/collect/update', {
                                    aid: aid,
                                    collected: collected
                                }).then(res => {
                                    if (res.data.status === 3000) {
                                        this.innerHTML = '已收藏';
                                        $sideCollection.innerHTML = res.data.data;
                                        $sideCollectionIcon.classList.add('alter');
                                    }
                                });
                            }
                        };

                        // icon
                        // mounted
                        // if (isLogin === 'true') {
                        //     axios.get('/collect/status', {
                        //         params: {
                        //             aid: aid
                        //         }
                        //     }).then(res => {
                        //         if (res.data.status === 3000) {
                        //             collected = res.data.collected;
                        //             if (collected) {
                        //                 $doCollect.innerHTML = '已收藏';
                        //                 $sideCollectionIcon.classList.add('alter');
                        //             } else {
                        //                 $doCollect.innerHTML = '收藏';
                        //                 $sideCollectionIcon.classList.remove('alter');
                        //             }
                        //         }
                        //     });
                        // }
                        // icon click
                        $sideCollectionIcon.onclick = function () {
                            if (collected) {
                                collected = 0;
                                axios.post('/collect/update', {
                                    aid: aid,
                                    collected: collected
                                }).then(res => {
                                    if (res.data.status === 3000) {
                                        $doCollect.innerHTML = '收藏';
                                        $sideCollection.innerHTML = res.data.data;
                                        $sideCollectionIcon.classList.remove('alter');
                                    }
                                });
                            } else {
                                collected = 1;
                                axios.post('/collect/update', {
                                    aid: aid,
                                    collected: collected
                                }).then(res => {
                                    if (res.data.status === 3000) {
                                        $doCollect.innerHTML = '已收藏';
                                        $sideCollection.innerHTML = res.data.data;
                                        $sideCollectionIcon.classList.add('alter');
                                    }
                                });
                            }
                        };
                    </script>
                </div>
                <div class="detail-content-wrapper">
                    {{ article.article_content | safe }}
                </div>
                <div class="detail-publish">
                    發表於 {{ article.create_time }} 共 {{ article.browse_num }}人瀏覽
                </div>
                <div class="detail-inform">
                    本文發布于"葉書" ，分享請註明出處，謝謝合作
                </div>
                <div class="praise-container">
                    <div class="praise-wrapper" id="praise" data-isLogin="{{ session.get('is_login') }}"
                         data-aid="{{ article.aid }}">
                        <i class="iconfont icon-dianzan" id="praiseIcon"></i>
                    </div>
                </div>
                <div class="forta" id="forta">
                    為 TA 點讚
                </div>
                <!-- 點讚 script -->
                <script>

                </script>

                <div class="article-type">
                    {% if article.article_type == 'first' %}
                    <img src="/images/first.png" alt="">
                    {% elif article.article_type == 'original' %}
                    <img src="/images/original.png" alt="">
                    {% elif article.article_type == 'share' %}
                    <img src="/images/share.png" alt="">
                    {% elif article.article_type == 'recommend' %}
                    <img src="/images/recommend.png" alt="">
                    {% elif article.article_type == 'other' %}
                    <img src="/images/other.png" alt="">
                    {% else %}
                    <img src="/images/original.png" alt="">
                    {% endif %}
                </div>
            </div>
            <!--  detail right  -->
            <div class="detail-main-right">
                <div class="detail-right-top">
                    <div class="author-info flex-r">
                        <div class="author-avatar">
                            <a href="/u?user={{ user.uid }}">
                                <img src="{{ user.avatar }}" alt="">
                            </a>
                        </div>
                        <div class="author-desc">
                            <div class="author-name">
                                <a href="/u?user={{ user.uid }}" style="color: #6f4627">
                                    {{ user.nickname }}
                                </a>
                            </div>
                            <div class="author-title">{{ user.slogan or '懶的寫個人簽名的說' }}</div>
                            <div class="author-title">LINE ID: {{ '不公開' if not user.is_show_line else user.line_id }}</div>
                            <div class="author-gender">
                                {% if user.gender == 'male' %}
                                <i class="iconfont icon-sex_man"></i>
                                {% elif user.gender == 'female' %}
                                <i class="iconfont icon-sex_woman"></i>
                                {% else %}
                                性別未知
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="author-achievement flex-r">
                        <div class="aleft">文章</div>
                        <div class="fans">粉絲</div>
                        <div class="aright">獲讚與收藏</div>
                    </div>
                    <div class="author-achievement-grade flex-r">
                        <div class="grade-left">{{ user_articles }}篇</div>
                        <div class="grade-middle">{{ 0 if not fans_num else fans_num }}</div>
                        <div class="grade-right">{{ collection_and_praise }}</div>
                    </div>
                    <div class="concern" id="concern" data-isLogin="{{ session.get('is_login') }}"
                         data-tid="{{ article.uid }}">
                        <span id="concernAuthor">關注作者，訂閱最新文章</span>
                    </div>
                    <!-- 關注 script -->
                    <script>
                        const $concern = document.getElementById('concern');
                        // const $praiseIcon = document.getElementById('praiseIcon');
                        // const $forta = document.getElementById('forta');
                        let concerned = 0;
                        isLogin = $concern.getAttribute('data-isLogin');
                        tid = $concern.getAttribute('data-tid');
                        // console.log('isLogin', isLogin);
                        // mounted
                        axios.get('/concern/status', {
                            params: {
                                tid: tid
                            }
                        }).then(res => {
                            if (res.data.status === 5000) {
                                concerned = res.data.concerned;
                                if (concerned) {
                                    // $praise.classList.add('praise-alter');
                                    // $praiseIcon.classList.add('i-alter');
                                    $concern.innerHTML = '已關注';
                                } else {
                                    // $praise.classList.remove('praise-alter');
                                    // $praiseIcon.classList.remove('i-alter');
                                    $concern.innerHTML = '關注作者，訂閱最新文章';
                                }
                                // if (!res.data.praisedNum) {
                                //     $forta.innerHTML = `為 TA 點讚`;
                                // } else {
                                //     $forta.innerHTML = `${res.data.concernedNum}人點讚`;
                                // }
                            }
                        });
                        // click
                        $concern.onclick = function () {
                            if (concerned) {
                                concerned = 0;
                                axios.post('/concern/update', {
                                    tid: tid,
                                    concerned: concerned
                                }).then(res => {
                                    if (res.data.status === 5000) {
                                        // $praise.classList.remove('praise-alter');
                                        // $praiseIcon.classList.remove('i-alter');
                                        $concern.innerHTML = '關注作者，訂閱最新文章';
                                        // if (!res.data.concernedNum) {
                                        //     $forta.innerHTML = `為 TA 點讚`;
                                        // } else {
                                        //     $forta.innerHTML = `${res.data.concernedNum}人點讚`;
                                        // }
                                    }
                                });
                            } else {
                                concerned = 1;
                                axios.post('/concern/update', {
                                    tid: tid,
                                    concerned: concerned
                                }).then(res => {
                                    if (res.data.status === 5000) {
                                        // $praise.classList.add('praise-alter');
                                        // $praiseIcon.classList.add('i-alter');
                                        $concern.innerHTML = '已關注';
                                        // if (!res.data.concernedNum) {
                                        //     $forta.innerHTML = `為 TA 點讚`;
                                        // } else {
                                        //     $forta.innerHTML = `${res.data.concernedNum}人點讚`;
                                        // }
                                    }
                                });
                            }
                        };

                        // const $concernAuthor = document.getElementById('concernAuthor');
                        //
                        // $concernAuthor.onmouseover = function () {
                        //     if (this.innerHTML === '已關注') {
                        //         this.innerHTML = '取消關注';
                        //     }
                        // };
                        //
                        // $concernAuthor.onmouseleave = function () {
                        //
                        // };
                    </script>
                </div>
                <div class="detail-right-bottom">
                    <div class="recommend-title">
                        相關文章推薦
                    </div>
                    <ul class="recommend-list">
                        {% if not relation_list %}
                        <li class="recommend-item flex-r">
                            <!--                                <span class="iconfont icon-caogao05"></span>-->
                            <span class="recommend-item-content">
                                    暫無相關文章
                                </span>
                        </li>
                        {% else %}
                        {% for item in relation_list %}
                        <li class="recommend-item flex-r">
                            <span class="iconfont icon-caogao05"></span>
                            <span class="recommend-item-content">
                                                <a href="/detail?aid={{ item.aid }}">
                                                    {{ item.title }}
                                                </a>
                                            </span>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="detail-comment-num">{{ 0 if not comment_list else comment_num }} 評論</div>
        <div class="detail-comment" id="detailComment">
            <div class="write-comment flex-r">
                <div class="write-left">評論</div>
                <div class="write-right" id="writeComment">寫下您的評論</div>
            </div>
            {% if not comment_list %}
            <div class="no-comment">暫無評論</div>
            {% else %}
            <div id="commentItemList">
                {% for comment_item in comment_list %}
                <div class="comment-item flex-r">
                    <div class="comment-item-left">
                        <div class="comment-item-left-avatar">
                            <a href="/u?user={{ comment_item.uid }}">
                                <img src="{{ comment_item.avatar }}" alt="">
                            </a>
                        </div>
                        <div class="comment-item-left-floor">
                            {{ comment_item.floor_number }}樓
                        </div>
                    </div>
                    <div class="comment-item-right">
                        <div class="comment-item-right-author">
                            <a href="/u?user={{ comment_item.uid }}">{{ comment_item.nickname }}</a>
                        </div>
                        <div class="comment-item-right-content">
                            <span>{{ comment_item.content | safe }}</span>
                        </div>
                        <div class="comment-item-right-info flex-r">
                            <div class="comment-item-right-action flex-r">
                                <div class="action-praise"
                                     data-pid="{{ comment_item.id }}" data-isLogin="{{ session.get('is_login') }}">
                                    <i id="praise{{ comment_item.id }}" class="iconfont icon-dianzan"
                                       data-pid="{{ comment_item.id }}"
                                       data-isLogin="{{ session.get('is_login') }}"></i>
                                    <span id="praiseNum{{ comment_item.id }}" class="dianzan-num"
                                          data-pid="{{ comment_item.id }}" data-isLogin="{{ session.get('is_login') }}">{{ comment_item.praised_num }}</span>
                                </div>
                                <div class="action-reply" data-isLogin="{{ session.get('is_login') }}"
                                     onclick="this.getAttribute('data-isLogin') === 'true' ? showReply('{{comment_item.id}}', '{{comment_item.uid}}', '{{comment_item.aid}}', '{{comment_item.nickname}}', '{{comment_item.id}}') : false;"
                                     data-reply="{{ comment_item.id }}">回覆
                                </div>
                                <!--                                        <div class="action-reply" data-isLogin="{{ session.get('is_login') }}" onclick="alert(this.getAttribute('data-isLogin'))" data-reply="{{ comment_item.id }}">回覆</div>-->
                            </div>
                            <div class="comment-date">
                                {{ comment_item.create_time }}
                            </div>
                        </div>
                    </div>
                    {% for reply_item in comment_item.reply_list %}
                    <div class="comment-reply flex-r">
                        <div class="comment-item-left">
                            <div class="comment-item-left-avatar">
                                <a href="/u?user={{ reply_item.from.uid }}">
                                    <img src="{{ reply_item.from.avatar }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="comment-item-right">
                            <div class="comment-item-right-author">
                                <a href="/u?user={{ reply_item.from.uid }}">
                                    <span>{{ reply_item.from.nickname }}</span>
                                </a>
                                <span class="reply-author"> 回覆 </span>
                                <a href="/u?user={{ reply_item.to.uid }}">
                                    <span>{{ reply_item.to.nickname }}</span>
                                </a>
                            </div>
                            <div class="comment-item-right-content reply-content">
                                <span>{{ reply_item.content.content | safe }}</span>
                            </div>
                            <div class="comment-item-right-info flex-r">
                                <div class="comment-item-right-action flex-r">
                                    <!--                                                <div class="action-reply" data-isLogin="{{ session.get('is_login') }}" onclick="showReply('{{comment_item.id}}', '{{reply_item.from.uid}}', '{{comment_item.aid}}', '{{reply_item.from.nickname}}', '{{reply_item.content.id}}')" data-reply="{{ reply_item.content.id }}">回覆</div>-->
                                    <div class="action-reply" data-isLogin="{{ session.get('is_login') }}"
                                         onclick="this.getAttribute('data-isLogin') === 'true' ? showReply('{{comment_item.id}}', '{{comment_item.uid}}', '{{comment_item.aid}}', '{{comment_item.nickname}}', '{{comment_item.id}}') : false;"
                                         data-reply="{{ reply_item.content.id }}">回覆
                                    </div>
                                </div>
                                <div class="comment-date">
                                    {{ reply_item.content.create_time }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="reply-author-comment" id="{{ comment_item.id }}" data-tid="{{ comment_item.id }}">
                        <div class="reply-container flex-r">
                            <!--                                    <img src="{{ comment_item.avatar }}" alt="">-->
                            <img src="{{ session.get('avatar') or comment_item.avatar }} " alt="">
                            <textarea type="text" placeholder="寫下您的回覆"></textarea>
                            <div class="reply-actions flex-r">
                                <span class="reply-actions-cancel"
                                      onclick="hiddenReply('{{ comment_item.id }}')">取消</span>
                                <span class="reply-actions-submit" onclick="writeReply()">回覆</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="comment-mask-modal" id="commentMaskModal">
        <div class="comment-window">
            <div class="comment-window-title flex-r">
                <span class="comment-title">發佈評論</span>
                <span class="comment-close" id="commentClose">×</span>
            </div>
            <div class="comment-editor" id="publishComment"></div>
            <div class="comment-submit flex-r">
                <div class="submit" id="submitComment" data-aid="{{ article.aid }}"
                     data-isLogin="{{ session.get('is_login') }}">提交
                </div>
            </div>
        </div>
    </div>
    <script>
        const ue = UE.getEditor('publishComment', {
            // ... 更多配置
            shortcutMenu: false,
            elementPathEnabled: false,
            wordCount: false,
            autoHeightEnabled: false,
            // 初始化编辑器宽度,默认 1000
            // initialFrameWidth: 800,
            initialFrameWidth: '100%',
            // 初始化编辑器高度,默认 320
            initialFrameHeight: 150,
            serverUrl: 'http://localhost:5000/comment',
            toolbars: [
                [
                    // "source",
                    "insertcode",
                    "bold",
                    "italic",
                    // "insertimage",
                    "link",
                    "insertorderedlist",
                    "insertunorderedlist",
                    "blockquote",
                    "undo",
                    "redo",
                    "emotion"
                ]
            ]
        });

        $writeComment = document.getElementById('writeComment');
        $commentMaskModal = document.getElementById('commentMaskModal');
        $commentClose = document.getElementById('commentClose');
        $submitComment = document.getElementById('submitComment');
        $publishComment = document.getElementById('publishComment');

        $writeComment.onclick = (e) => {
            e.stopPropagation();
            // alert('comment');
            $commentMaskModal.style.display = 'block';
        };

        $commentClose.onclick = (e) => {
            $commentMaskModal.style.display = 'none';
        };

        $submitComment.onclick = function () {
            const aid = this.getAttribute('data-aid');
            const content = ue.getContent();

            axios.post('/comment/add', {
                aid: aid,
                content: content
            }).then(res => {
                if (res.data.status === 6000) {
                    location.reload(true);
                } else {
                    console.log(res.data.data);
                }
            });
        };

        // let isShow = false;
        // switch
        let currReplyInputId = 0;
        let baseReplyId = 0;
        let replyAid = 0;
        let commentReplyId = 0;
        const showReply = (commentId, uid, aid, nickname, replyId) => {
            baseReplyId = Number(commentId);
            replyAid = Number(aid);
            commentReplyId = Number(replyId);
            // 關閉當前已經打開的輸入框
            if (currReplyInputId !== 0) {
                hiddenReply(currReplyInputId);
            }
            currReplyInputId = commentId;
            const $inputWrap = document.getElementById(commentId);
            $inputWrap.style.display = 'block';
            const $currInput = document.querySelector(`.reply-author-comment[data-tid="${currReplyInputId}"]`);
            document.documentElement.scrollTop = $currInput.offsetTop;
        };

        const hiddenReply = (inputId) => {
            const $inputWrap = document.getElementById(inputId);
            $inputWrap.style.display = 'none';
        };

        const writeReply = () => {
            const content = document.getElementById(baseReplyId).querySelector('textarea').value.trim();
            axios.post('/comment/reply', {
                aid: Number(replyAid),
                baseReplyId: Number(baseReplyId),
                commentReplyId: Number(commentReplyId),
                content: content
            }).then(res => {
                console.log(res.data.data);
                location.reload();
            });
        };
    </script>
    <script>
        const $sideCommentIcon = document.getElementById('sideCommentIcon');
        const $detailComment = document.getElementById('detailComment');

        $sideCommentIcon.onclick = () => {
            // console.log($detailComment);
            document.documentElement.scrollTop = $detailComment.offsetTop;
        };
    </script>
    <script>
        const $writeArticle = document.getElementById('writeArticle');

        $writeArticle.onclick = function (e) {
            location.href = '/article/new';
        };
    </script>
    <script>
        // side praise mounted
        const $praise = document.getElementById('praise');
        const $praiseIcon = document.getElementById('praiseIcon');
        const $forta = document.getElementById('forta');
        let praised = 0;
        const $sidePraise = document.getElementById('sidePraise');
        const $sidePraiseIcon = document.getElementById('sidePraiseIcon');
        const $sideRecommend = document.getElementById('sideRecommend');
        const sideAid = $sidePraise.getAttribute('data-aid');
        axios.get('/praise/status', {
            params: {
                aid: sideAid
            }
        }).then(res => {
            if (res.data.status === 4000) {
                praised = res.data.praised;
                if (praised) {
                    $sidePraise.classList.add('praise-alter');
                    $sidePraiseIcon.classList.add('i-alter');
                } else {
                    $sidePraise.classList.remove('praise-alter');
                    $sidePraiseIcon.classList.remove('i-alter');
                }
                if (!res.data.praisedNum) {
                    $sideRecommend.innerHTML = `推薦`;
                } else {
                    $sideRecommend.innerHTML = `${res.data.praisedNum}`;
                }
            }
        });
        // side praise click
        $sidePraise.onclick = function () {
            if (praised) {
                praised = 0;
                axios.post('/praise/update', {
                    aid: sideAid,
                    praised: praised
                }).then(res => {
                    if (res.data.status === 4000) {
                        $praise.classList.remove('praise-alter');
                        $praiseIcon.classList.remove('i-alter');
                        $sidePraise.classList.remove('praise-alter');
                        $sidePraiseIcon.classList.remove('i-alter');
                        if (!res.data.praisedNum) {
                            $forta.innerHTML = `為 TA 點讚`;
                            $sideRecommend.innerHTML = `推薦`;
                        } else {
                            $forta.innerHTML = `${res.data.praisedNum}人點讚`;
                            $sideRecommend.innerHTML = `${res.data.praisedNum}`;
                        }
                    }
                });
            } else {
                praised = 1;
                axios.post('/praise/update', {
                    aid: sideAid,
                    praised: praised
                }).then(res => {
                    if (res.data.status === 4000) {
                        $praise.classList.add('praise-alter');
                        $praiseIcon.classList.add('i-alter');
                        $sidePraise.classList.add('praise-alter');
                        $sidePraiseIcon.classList.add('i-alter');
                        if (!res.data.praisedNum) {
                            $forta.innerHTML = `為 TA 點讚`;
                            $sideRecommend.innerHTML = `推薦`;
                        } else {
                            $forta.innerHTML = `${res.data.praisedNum}人點讚`;
                            $sideRecommend.innerHTML = `${res.data.praisedNum}`;
                        }
                    }
                });
            }
        };
        // praise mounted
        isLogin = $praise.getAttribute('data-isLogin');
        aid = $praise.getAttribute('data-aid');
        axios.get('/praise/status', {
            params: {
                aid: aid
            }
        }).then(res => {
            if (res.data.status === 4000) {
                praised = res.data.praised;
                if (praised) {
                    $praise.classList.add('praise-alter');
                    $praiseIcon.classList.add('i-alter');
                } else {
                    $praise.classList.remove('praise-alter');
                    $praiseIcon.classList.remove('i-alter');
                }
                if (!res.data.praisedNum) {
                    $forta.innerHTML = `為 TA 點讚`;
                } else {
                    $forta.innerHTML = `${res.data.praisedNum}人點讚`;
                }
            }
        });
        // praise click
        $praise.onclick = function () {
            if (praised) {
                praised = 0;
                axios.post('/praise/update', {
                    aid: aid,
                    praised: praised
                }).then(res => {
                    if (res.data.status === 4000) {
                        $praise.classList.remove('praise-alter');
                        $praiseIcon.classList.remove('i-alter');
                        $sidePraise.classList.remove('praise-alter');
                        $sidePraiseIcon.classList.remove('i-alter');
                        if (!res.data.praisedNum) {
                            $forta.innerHTML = `為 TA 點讚`;
                            $sideRecommend.innerHTML = `推薦`;
                        } else {
                            $forta.innerHTML = `${res.data.praisedNum}人點讚`;
                            $sideRecommend.innerHTML = `${res.data.praisedNum}`;
                        }
                    }
                });
            } else {
                praised = 1;
                axios.post('/praise/update', {
                    aid: aid,
                    praised: praised
                }).then(res => {
                    if (res.data.status === 4000) {
                        $praise.classList.add('praise-alter');
                        $praiseIcon.classList.add('i-alter');
                        $sidePraise.classList.add('praise-alter');
                        $sidePraiseIcon.classList.add('i-alter');
                        if (!res.data.praisedNum) {
                            $forta.innerHTML = `為 TA 點讚`;
                            $sideRecommend.innerHTML = `推薦`;
                        } else {
                            $forta.innerHTML = `${res.data.praisedNum}人點讚`;
                            $sideRecommend.innerHTML = `${res.data.praisedNum}`;
                        }
                    }
                });
            }
        };
    </script>
    <script>
        // praise comment click
        const $commentItemList = document.getElementById('commentItemList');
        let commentPraised = 0;

        $commentItemList.onclick = (e) => {
            const self = e.target;
            const pid = self.getAttribute('data-pid');
            const $dianzanNum = document.getElementById('praiseNum' + pid);
            const $dianzan = document.getElementById('praise' + pid);

            if (pid) {
                // console.log(pid);
                axios.get('/praise/comment/status', {
                    params: {
                        cid: pid
                    }
                }).then(res => {
                    if (res.data.status === 4000) {
                        // console.log(res.data);
                        commentPraised = res.data.praised;
                        if (commentPraised) {
                            $dianzan.classList.add('icon-dianzan-alter');
                        } else {
                            $dianzan.classList.remove('icon-dianzan-alter');
                        }
                        $dianzanNum.innerHTML = res.data.praisedNum;
                        if (commentPraised) {
                            commentPraised = 0;
                            axios.post('/praise/comment/update', {
                                cid: pid,
                                praised: commentPraised
                            }).then(res => {
                                if (res.data.status === 4000) {
                                    $dianzan.classList.remove('icon-dianzan-alter');
                                    $dianzanNum.innerHTML = res.data.praisedNum;
                                }
                            });
                        } else {
                            commentPraised = 1;
                            axios.post('/praise/comment/update', {
                                cid: pid,
                                praised: commentPraised
                            }).then(res => {
                                if (res.data.status === 4000) {
                                    $dianzan.classList.add('icon-dianzan-alter');
                                    $dianzanNum.innerHTML = res.data.praisedNum;
                                }
                            });
                        }
                    }
                });
            }
        };
    </script>
    <script>
        const $copyUrlBtn = document.getElementById('copyUrlBtn');

        $copyUrlBtn.onclick = () => {
            const url = location.href;
            const textarea = document.createElement("textarea");
            textarea.value = url;
            textarea.style.position = "fixed";
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
        };
    </script>
</section>
{% include 'common/modal.html' %}
{% include 'common/footer.html' %}
</body>
</html>

