<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>沒有這個頁面喔</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-color: #f8fafc;
        }

        .box {
            width: 594px;
            height: 314px;
            margin: 50px auto;
        }

        .box h3 {
            text-align: center;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h3>抱歉，沒有這個頁面喔</h3>
        <img src="images/new_404.png" alt="">
    </div>
</body>
</html>