<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>發佈文章</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/new_article.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/plugins/ueditor-plus/ueditor.config.js"></script>
    <script src="/plugins/ueditor-plus/ueditor.all.js"></script>
    <script src="/plugins/ueditor-plus/lang/zh-cn/zh-cn.js"></script>
    <script src="/js/new_article.js"></script>
</head>
<body>
<div class="header new-article-center-wrap">
    <div class="left">
            <span class="draft">
                <i class="iconfont icon-caogao05"></i>
                <span>我的草稿</span>
            </span>
        <span class="draft-desc">文章將自動保存至草稿箱</span>
    </div>
    <div class="middle">
        <span class="ueditor">Ueditor</span>
    </div>
    <div class="right">
        <span class="publish" id="publishBtn">發佈</span>
    </div>
</div>
<div class="main">
    <div class="article-head">
        <input class="article-title" type="text" placeholder="請在此輸入標題">
    </div>
    <div class="ueditor">
        <script id="editor" type="text/plain" style="height:300px;"></script>
    </div>
</div>
<!-- login modal -->
<div class="mask-login-modal" id="publishArticleModal">
    <div class="article-publish-from flex-r">
        <div class="publish-article-left flex-c">
            <div class="left-top">
                <label for="upLoadFile">
                    <img src="/images/image-upload.png" alt="upload" id="upfile">
                </label>
            </div>
            <label>
                <div class="local">本地上傳</div>
                <input type="file" id="upLoadFile" accept="image/*" style="display: none;">
            </label>
            <div class="random">隨機封面</div>
            <div class="desc">请上傳200*200px，小
                於等於80KB的PNG/
                JPG/GIF圖片
            </div>
        </div>
        <div class="publish-article-right">
            <div class="article-cols flex-r">
                <div class="cols-left">
                    <div class="left-title">投遞項目</div>
                    <div class="choose-item" id="articleItem">
                        <div id="itemName" class="item-name flex-r">
                            <span>請選擇需要投遞的項目</span>
                            <i class="iconfont icon-xiajiantou"></i>
                        </div>
                        <ul class="select-box" id="articleItemList">
                            <li data-value="">請選擇需要投遞的項目</li>
                            <li data-value="b">2</li>
                            <li data-value="c">3</li>
                            <li data-value="4">4</li>
                            <li data-value="5">5</li>
                            <li data-value="6">6</li>
                            <li data-value="7">7</li>
                            <li data-value="8">8</li>
                            <li data-value="9">9</li>
                            <li data-value="10">10</li>
                            <li data-value="11">11</li>
                            <li data-value="12">12</li>
                        </ul>
                    </div>
                </div>
                <div class="cols-right">
                    <div class="right-title">文章類型</div>
                    <div class="choose-type" id="articleType">
                        <div id="typeName" class="item-name flex-r">
                            <span>請選擇</span>
                            <i class="iconfont icon-xiajiantou"></i>
                        </div>
                        <ul class="select-box" id="articleTypeList">
                            <li data-value="">請選擇</li>
                            <li data-value="原創">原創</li>
                            <li data-value="首發">首發</li>
                            <li data-value="分享">分享</li>
                            <li data-value="推薦">推薦</li>
                            <li data-value="其它">其它</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="article-tags-container">
                <div class="article-tags">
                    <span>文章標簽</span>
                    <span id="tagCount">0</span><span>/3</span>
                </div>
                <div class="search-tags-box">
                    <div class="tag-items" id="tagItems"></div>
                    <input type="text" class="tags-input" placeholder="請選擇下列標籤">
                </div>
                <ul class="tags-list" id="tagsList">
                    <li data-tag="python">Python</li>
                    <li data-tag="javascript">JavaScript</li>
                    <li data-tag="css">CSS</li>
                    <li data-tag="html">Html</li>
                </ul>
                <button id="submit">submit</button>
            </div>
        </div>
    </div>
</div>
<script>
    const $articleItem = document.getElementById('articleItem');
    const $articleItemList = document.getElementById('articleItemList');
    const $itemName = document.getElementById('itemName');

    const $articleType = document.getElementById('articleType');
    const $articleTypeList = document.getElementById('articleTypeList');
    const $typeName = document.getElementById('typeName');
    const $tagsList = document.getElementById('tagsList');
    const $tagItems = document.getElementById('tagItems');
    const $tagCount = document.getElementById('tagCount');

    let isShowArticleItem = false;
    let isShowArticleType = false;
    let tagCount = 0;

    $articleItem.onclick = function () {
        if (!isShowArticleItem) {
            $articleItemList.style.display = 'block';
            this.style.boxShadow = '0 0 5px #6f4627';
        } else {
            $articleItemList.style.display = 'none';
            this.style.boxShadow = '';
        }
        isShowArticleItem = !isShowArticleItem;
    };

    $articleItemList.onclick = function (e) {
        e.stopPropagation();
        const self = e.target;
        $itemName.innerHTML = self.getAttribute('data-value') || '請選擇需要投遞的項目';
        this.style.display = 'none';
        $articleItem.style.boxShadow = '';
        isShowArticleItem = !isShowArticleItem;
    };

    $articleType.onclick = function () {
        if (!isShowArticleType) {
            $articleTypeList.style.display = 'block';
            this.style.boxShadow = '0 0 5px #6f4627';
        } else {
            $articleTypeList.style.display = 'none';
            this.style.boxShadow = '';
        }
        isShowArticleType = !isShowArticleType;
    };

    $articleTypeList.onclick = function (e) {
        e.stopPropagation();
        const self = e.target;
        $typeName.innerHTML = self.getAttribute('data-value') || '請選擇';
        this.style.display = 'none';
        $articleType.style.boxShadow = '';
        isShowArticleType = !isShowArticleType;
    };

    const chkList = [];
    $tagsList.onclick = (e) => {
        e.stopPropagation();

        const self = e.target;
        const tagName = self.getAttribute('data-tag');

        if (tagName) {
            if (chkList.indexOf(tagName) < 0) {
                chkList.push(tagName);
            } else {
                return false;
            }

            tagCount += 1;
            if (tagCount > 3) return false;
            $tagCount.innerText = tagCount;

            const span = document.createElement('span');
            span.innerHTML = tagName;
            span.setAttribute('data-tag', tagName);
            span.className = 'span-tag';
            $tagItems.appendChild(span);
        }
        // if (tagName) {
        //
        // }
    };
    // remove selected item
    $tagItems.onclick = function (e) {
        const self = e.target;
        const tagValue = self.getAttribute('data-tag');

        if (tagValue) {
            const tagIdx = chkList.indexOf(tagValue);
            chkList.splice(tagIdx, 1);
            if (tagCount === 4) tagCount = 3;
            tagCount -= 1;
            $tagCount.innerText = tagCount;
            this.removeChild(self);
        }
    };

    // test
    const $submit = document.getElementById('submit');

    const tagsResultList = [];

    $submit.onclick = () => {
        const tagsList = document.getElementById('tagItems').getElementsByTagName('span');
        if (tagsList.length >= 1) {
            for (let item of tagsList) {
                tagsResultList.push(item.getAttribute('data-tag'));
            }
        } else {
            alert('沒有tag');
        }

        console.log(tagsResultList);
        console.log(tagsResultList.join(','));
    };
</script>
</body>
</html>