<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>發佈文章</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/new_article.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/plugins/ueditor-plus/ueditor.config.js"></script>
    <script src="/plugins/ueditor-plus/ueditor.all.js"></script>
    <script src="/plugins/ueditor-plus/lang/zh-cn/zh-cn.js"></script>
    <script src="/js/new_article.js"></script>
    <script src="/js/axios.min.js"></script>
</head>
<body>
<div class="header new-article-center-wrap">
    <div class="left">
            <span class="draft" id="draftActionBox">
                <i class="iconfont icon-caogao05"></i>
                <span>我的草稿</span>
                <span class="draft-num">{{ drafted_count }}</span>
            </span>
        <span class="draft-desc">文章將自動保存至草稿箱</span>
        <em class="iconfont icon-shangjiantou up-arrow"></em>
        <div class="drafted-container">
            <!--            <em class="iconfont icon-shangjiantou up-arrow"></em>-->
            <div class="drafted-box-title flex-r">
                <span class="title-left">我的草稿</span>
                <span class="title-right">草稿最長保存60天，發表後自動清除</span>
            </div>
            <div class="drafted-box" id="draftedBoxItemList">
                {% for drafted in all_drafted %}
                    <div class="list-item flex-r" id="{{ drafted.aid }}">
                        <div class="draft-item-left">
                            <div class="iconfont icon-caogao05 draft-icon" data-did="{{ drafted.aid }}"></div>
                        </div>
                        <div class="draft-item-middle flex-c" data-did="{{ drafted.aid }}">
                            <span class="draft-item-up" data-did="{{ drafted.aid }}">{{ drafted.title }}</span>
                            <span class="draft-item-down" data-did="{{ drafted.aid }}">{{ drafted.create_time }}</span>
                        </div>
                        <div class="draft-item-right">
                            <i class="iconfont icon-guanbi item-close" data-action="remove" data-did="{{ drafted.aid }}"></i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="middle">
        <span class="ueditor">Ueditor</span>
    </div>
    <div class="right">
        <span class="publish" id="publishBtn">發佈</span>
    </div>
</div>
<div class="main">
    <div class="article-head">
        <input class="article-title" id="articleTitle" type="text" placeholder="請在此輸入標題">
    </div>
    <div class="ueditor">
        <script id="editor" type="text/plain" style="height:300px;"></script>
    </div>
</div>
<!-- login modal -->
<div class="mask-login-modal" id="publishArticleModal">
    <div class="article-publish-from flex-r">
        <div class="publish-article-left flex-c">
            <div class="left-top">
                <label for="xFile">
                    <img src="/images/image-upload.png" alt="upload" id="articleImg">
                </label>
            </div>
            <label>
                <div class="local">本地上傳</div>
                <input type="file" id="xFile" accept="image/*" style="display: none;">
            </label>
            <div class="random" id="randomArticleHeader">隨機封面</div>
            <div class="desc">请上傳200*200px，小
                於等於80KB的PNG/
                JPG/GIF圖片
            </div>
        </div>
        <div class="publish-article-right">
            <div class="article-cols flex-r">
                <div class="cols-left">
                    <div class="left-title">文章分類</div>
                    <div class="choose-item" id="articleItem">
                        <div id="itemName" class="item-name flex-r">
                            <span>請選擇您的文章分類</span>
                            <i class="iconfont icon-xiajiantou"></i>
                        </div>
                        <ul class="select-box" id="articleItemList">
                            {% for label_name, label_value in label_types.items() %}
                            <li class="{{ label_value.selected }}" data-label="{{ label_name }}"
                                onclick="selectItemList('{{ label_name }}', '{{ label_value.name }}')">{{
                                label_value.name }}
                            </li>
                            {% endfor %}
                            <!--                            <li data-value="">請選擇需要投遞的項目</li>-->
                            <!--                            <li data-value="b">2</li>-->
                            <!--                            <li data-value="c">3</li>-->
                            <!--                            <li data-value="4">4</li>-->
                            <!--                            <li data-value="5">5</li>-->
                            <!--                            <li data-value="6">6</li>-->
                            <!--                            <li data-value="7">7</li>-->
                            <!--                            <li data-value="8">8</li>-->
                            <!--                            <li data-value="9">9</li>-->
                            <!--                            <li data-value="10">10</li>-->
                            <!--                            <li data-value="11">11</li>-->
                            <!--                            <li data-value="12">12</li>-->
                        </ul>
                    </div>
                </div>
                <div class="cols-right">
                    <div class="right-title">文章類型</div>
                    <div class="choose-type" id="articleType">
                        <div id="typeName" class="item-name flex-r">
                            <span>請選擇</span>
                            <i class="iconfont icon-xiajiantou"></i>
                        </div>
                        <ul class="select-box" id="articleTypeList">
                            {% for type_name, type_value in article_types.items() %}
                            <li data-article-type="{{ type_name }}" class="{{ type_value.selected }}"
                                onclick="selectType('{{ type_name }}', '{{ type_value.name }}')">{{ type_value.name }}
                            </li>
                            {% endfor %}
                            <!--                            <li data-value="">請選擇</li>-->
                            <!--                            <li data-value="原創">首發</li>-->
                            <!--                            <li data-value="首發">原創</li>-->
                            <!--                            <li data-value="分享">分享</li>-->
                            <!--                            <li data-value="推薦">推薦</li>-->
                            <!--                            <li data-value="其它">其它</li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="article-tags-container">
                <div class="article-tags">
                    <span>文章標簽</span>
                    <span id="tagCount">0</span><span>/3</span>
                </div>
                <div class="search-tags-box">
                    <div class="tag-items" id="tagItems"></div>
                    <input type="text" class="tags-input" placeholder="請選擇下列熱門標籤或輸入關鍵詞檢索標籤"
                           id="tagInput">
                </div>
                <div class="tag-search-result">相關 "<span id="searchStr"></span>" 的搜索 <span
                        id="searchResultNum"></span> 個
                </div>
                <ul class="tags-list" id="tagsList">
                    <li data-tag="Python">Python</li>
                    <li data-tag="javaScript">JavaScript</li>
                    <li data-tag="CSS">CSS</li>
                    <li data-tag="Html">Html</li>
                </ul>
                <div class="action-buttons">
                    <button class="action-button" id="saveAndCancel">存檔並取消</button>
                    <button class="action-button" id="submit">確定發佈</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // const $articleItem = document.getElementById('articleItem');
    // const $articleItemList = document.getElementById('articleItemList');
    // const $itemName = document.getElementById('itemName');
    // const $tagInput = document.getElementById('tagInput');
    // const $draftActionBox = document.getElementById('draftActionBox');
    // const $draftedContainer = document.querySelector('.drafted-container');
    // const $upArrow = document.querySelector('.up-arrow');
    // // const $publishBtn = document.getElementById('publishBtn');
    //
    // const $articleType = document.getElementById('articleType');
    // const $articleTypeList = document.getElementById('articleTypeList');
    // const $typeName = document.getElementById('typeName');
    // const $tagsList = document.getElementById('tagsList');
    // const $tagItems = document.getElementById('tagItems');
    // const $tagCount = document.getElementById('tagCount');
    //
    // const $articleTitle = document.getElementById('articleTitle');
    //
    // let isShowArticleItem = false;
    // let isShowArticleType = false;
    // let isShowDraftBox = false;
    // let tagCount = 0;
    //
    // // window.addEventListener('popstate', function (e) {
    // //     alert('hello');
    // // }, false);
    //
    // // let content = '';
    // // let title = '';
    // // let aid = -1;
    // // let drafted = 0;
    // //
    // // $publishBtn.onclick = () => {
    // //     title = $articleTitle.value.trim();
    // //     content = ue.getContent();
    // //     axios.post('/article/save', {
    // //         title: title,
    // //         content: content,
    // //         aid: aid,
    // //         drafted: drafted
    // //     }).then(res => {
    // //         if (res.data.status === 2003) {
    // //             aid = res.data.aid;
    // //             alert(res.data.data);
    // //         } else {
    // //             alert('草稿存檔失敗');
    // //         }
    // //     });
    // // };
    //
    // $draftActionBox.onclick = (e) => {
    //     e.stopPropagation();
    //     if (!isShowDraftBox) {
    //         $draftedContainer.style.display = 'block';
    //         $upArrow.style.display = 'block';
    //     } else {
    //         $draftedContainer.style.display = 'none';
    //         $upArrow.style.display = 'none';
    //     }
    //     isShowDraftBox = !isShowDraftBox;
    // };
    //
    // $upArrow.onclick = function () {
    //     if (!isShowDraftBox) {
    //         $draftedContainer.style.display = 'block';
    //         this.style.display = 'block';
    //     } else {
    //         $draftedContainer.style.display = 'none';
    //         this.style.display = 'none';
    //     }
    //     isShowDraftBox = !isShowDraftBox;
    // };
    //
    // $articleItem.onclick = function () {
    //     if (!isShowArticleItem) {
    //         $articleItemList.style.display = 'block';
    //         this.style.boxShadow = '0 0 5px #6f4627';
    //     } else {
    //         $articleItemList.style.display = 'none';
    //         this.style.boxShadow = '';
    //     }
    //     isShowArticleItem = !isShowArticleItem;
    // };
    //
    // // $articleItemList.onclick = function (e) {
    // //     e.stopPropagation();
    // //     const self = e.target;
    // //     $itemName.innerHTML = self.getAttribute('data-value') || '請選擇需要投遞的項目';
    // //     this.style.display = 'none';
    // //     $articleItem.style.boxShadow = '';
    // //     isShowArticleItem = !isShowArticleItem;
    // // };
    //
    // $articleType.onclick = function () {
    //     if (!isShowArticleType) {
    //         $articleTypeList.style.display = 'block';
    //         this.style.boxShadow = '0 0 5px #6f4627';
    //     } else {
    //         $articleTypeList.style.display = 'none';
    //         this.style.boxShadow = '';
    //     }
    //     isShowArticleType = !isShowArticleType;
    // };
    //
    // // $articleTypeList.onclick = function (e) {
    // //     e.stopPropagation();
    // //     const self = e.target;
    // //     $typeName.innerHTML = self.getAttribute('data-value') || '請選擇';
    // //     this.style.display = 'none';
    // //     $articleType.style.boxShadow = '';
    // //     isShowArticleType = !isShowArticleType;
    // // };
    //
    // let chkList = [];
    // $tagsList.onclick = (e) => {
    //
    //     $tagInput.value = '';
    //     $tagSearchResult.style.display = 'none';
    //
    //     for (const tagItem of tagItemList) {
    //         $tagsList.appendChild(tagItem);
    //     }
    //
    //     const self = e.target;
    //     const tagName = self.getAttribute('data-tag');
    //
    //     if (chkList.length >= 3) return false;
    //
    //     if (tagName) {
    //         if (chkList.indexOf(tagName) < 0) {
    //             chkList.push(tagName);
    //         } else {
    //             return false;
    //         }
    //
    //         tagCount += 1;
    //         $tagCount.innerText = tagCount;
    //
    //         if (tagCount === 3) {
    //             $tagInput.setAttribute('placeholder', '');
    //             $tagInput.value = '';
    //             $tagInput.style.backgroundColor = '#fff';
    //             $tagInput.disabled = true;
    //         } else if (tagCount >= 1) {
    //             $tagInput.setAttribute('placeholder', '請輸入關鍵詞檢索標籤');
    //             $tagInput.disabled = false;
    //         }
    //
    //         const span = document.createElement('span');
    //         span.innerHTML = tagName;
    //         span.setAttribute('data-tag', tagName);
    //         span.className = 'span-tag';
    //         $tagItems.appendChild(span);
    //     }
    //     // if (tagName) {
    //     //
    //     // }
    // };
    // // remove selected item
    // $tagItems.onclick = function (e) {
    //     const self = e.target;
    //     const tagValue = self.getAttribute('data-tag');
    //
    //     if (tagValue) {
    //         const tagIdx = chkList.indexOf(tagValue);
    //         chkList.splice(tagIdx, 1);
    //         tagCount -= 1;
    //         $tagCount.innerText = tagCount;
    //         $tagInput.disabled = false;
    //
    //         if (tagCount >= 1) {
    //             $tagInput.setAttribute('placeholder', '請輸入關鍵詞搜索標籤');
    //         } else {
    //             $tagInput.setAttribute('placeholder', '請選擇下列熱門標籤');
    //         }
    //
    //         this.removeChild(self);
    //     }
    // };
    //
    // // 文章發佈
    // const $submit = document.getElementById('submit');
    //
    // const tagsResultList = [];
    //
    // $submit.onclick = () => {
    //     const tagsList = document.getElementById('tagItems').getElementsByTagName('span');
    //     if (tagsList.length >= 1) {
    //         for (let item of tagsList) {
    //             tagsResultList.push(item.getAttribute('data-tag'));
    //         }
    //     } else {
    //         alert('文章的標籤不能為空喔');
    //         return;
    //     }
    //     // console.log(tagsResultList);
    //     console.log('title:', $articleTitle.value.trim());
    //     console.log('content:', ue.getContent())
    //     console.log('tag:', tagsResultList.join(','));
    //     // axios
    //     // axios.post('/article/save', {
    //     //     aid: aid,
    //     //     title: '',
    //     //     content: '',
    //     //     drafted: 1
    //     // }).then(res => {
    //     //
    //     // });
    // };
    // //
    // let article_label_name = '';
    // const selectItemList = (label_name_arg, label_value_arg) => {
    //     // console.log('selected');
    //     article_label_name = label_name_arg;
    //     const $dropDown = document.querySelector('#itemName > span');
    //     $dropDown.innerHTML = label_value_arg;
    //     const lis = document.querySelectorAll('#articleItemList > li');
    //
    //     for (let item of lis) {
    //         item.className = 'no-selected';
    //
    //         if (item.getAttribute('data-label') === label_name_arg) {
    //             item.className = 'selected';
    //         }
    //     }
    // }
    //
    // let article_type_name = '';
    // const selectType = (type_name_arg, type_value_arg) => {
    //     article_type_name = type_name_arg;
    //     const $type = document.querySelector('#typeName > span');
    //     $type.innerHTML = type_value_arg;
    //     const lis = document.querySelectorAll('#articleTypeList > li');
    //
    //     for (let item of lis) {
    //         item.className = 'no-selected';
    //
    //         if (item.getAttribute('data-article-type') === type_name_arg) {
    //             item.className = 'selected';
    //         }
    //     }
    // }
    // // tag search
    // const $articleTagsList = document.querySelectorAll('#tagsList > li');
    // const $tagSearchResult = document.querySelector('.tag-search-result');
    // const $searchStr = document.getElementById('searchStr');
    // const $searchResultNum = document.getElementById('searchResultNum');
    //
    // const tagItemList = [];
    // for (const tagItem of $articleTagsList) {
    //     tagItemList.push(tagItem);
    // }
    //
    // $tagInput.oninput = function () {
    //     const mySearch = this.value.trim().toLowerCase();
    //     let searchResultNum = 0;
    //
    //     if (mySearch.length !== 0) {
    //         $tagSearchResult.style.display = 'block';
    //     } else {
    //         $tagSearchResult.style.display = 'none';
    //     }
    //
    //     $tagsList.innerHTML = null;
    //
    //     for (const tagItem of $articleTagsList) {
    //         let tagName = tagItem.getAttribute('data-tag').toLowerCase();
    //         if (tagName.indexOf(mySearch) >= 0) {
    //             searchResultNum += 1;
    //             $tagsList.appendChild(tagItem);
    //         }
    //     }
    //
    //     $searchStr.innerHTML = mySearch;
    //     $searchResultNum.innerHTML = searchResultNum.toString();
    //     //
    //     // console.log(`相关${mySearch}的搜索有${searchResultNum}个`);
    //     // console.log(`分别是${resultStrList.slice(0, resultStrList.length-1)}`);
    //
    // };
</script>
<script>
    window.article_label_name = '';
    const selectItemList = (label_name_arg, label_value_arg) => {
        // console.log('selected');
        window.article_label_name = label_name_arg;
        const $dropDown = document.querySelector('#itemName > span');
        $dropDown.innerHTML = label_value_arg;
        const lis = document.querySelectorAll('#articleItemList > li');

        for (let item of lis) {
            item.className = 'no-selected';

            if (item.getAttribute('data-label') === label_name_arg) {
                item.className = 'selected';
            }
        }
    }

    window.article_type_name = '';
    const selectType = (type_name_arg, type_value_arg) => {
        window.article_type_name = type_name_arg;
        const $type = document.querySelector('#typeName > span');
        $type.innerHTML = type_value_arg;
        const lis = document.querySelectorAll('#articleTypeList > li');

        for (let item of lis) {
            item.className = 'no-selected';

            if (item.getAttribute('data-article-type') === type_name_arg) {
                item.className = 'selected';
            }
        }
    }

    // // draftedBox
    // const $draftedBoxItemList = document.getElementById('draftedBoxItemList');
    // // console.log($draftedBoxItemList);
    // $draftedBoxItemList.onclick = (e) => {
    //     const self = e.target.target;
    //     const draftedId = self.getAttribute('data-did');
    //
    //     console.log(draftedId);
    // };
</script>
</body>
</html>