<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="不良人互動社群"/>
    <meta property="og:image" content="images/logo.png"/>
    <meta property="og:description" content="挺有意思的社群-不良人互動社群"/>
    <meta property="og:url" content="https://www.baidu.com"/>
    <title>不良人互動社群</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/new_article.css">
    <link rel="stylesheet" href="css/personal.css">
    <link rel="stylesheet" href="css/index.css">
    <!--    <script src="plugins/ueditor-plus/ueditor.config.js"></script>-->
    <!--    <script src="plugins/ueditor-plus/ueditor.all.js"></script>-->
    <!--    <script src="plugins/ueditor-plus/lang/zh-cn/zh-cn.js"></script>-->
    <script src="js/header.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/personal.js"></script>
</head>
<body>
{% include 'common/header.html' %}
<section class="personal-header">
    <div class="center-wrap header-wrap flex-r">
        <div class="header-left flex-r">
            <div class="avatar">
                <img src="{{ user.avatar }}" alt="" id="userAvatar">
                <div class="camera-circle" id="avatarBtn" title="更換頭像">
                    <i class="iconfont icon-zhaoxiangji"></i>
                </div>
                <i class="tip"><-這裡可以變更頭像喔</i>
            </div>
            <div class="info">
                <div>{{ user.nickname }}</div>
                <div>
                    <span>
                        {% if not user.gender %}
                            性別未知
                        {% elif user.gender == 'male' %}
                            男
                        {% elif user.gender == 'female' %}
                            女
                        {% else %}
                            性別未知
                        {% endif %}
                    </span>&nbsp;&nbsp;|&nbsp;
                    <span>{{ user.slogan or '懶的寫個人簽名的說' }}</span>
                </div>
            </div>
        </div>
        <div class="header-right flex-r">
            <div>
                <div>關注</div>
                <div>{{ concern_num }}</div>
            </div>
            <div>
                <div>粉絲</div>
                <div>{{ fans_num }}</div>
            </div>
            <div>
                <div>績分</div>
                <div>{{ score }}</div>
            </div>
            <a href="?type=settings" class="settings">
                <i class="iconfont icon-shezhi"></i>
                <span>個人設置</span>
            </a>
        </div>
    </div>
</section>
<section class="tabs center-wrap">
        <ul class="flex-r" id="menu">
            <li data-tab="article" class="{{ 'active' if active == 'article' else '' }}">我的文章</li>
            <li data-tab="collection" class="{{ 'active' if active == 'collection' else '' }}">我的收藏</li>
            <li data-tab="praise" class="{{ 'active' if active == 'praise' else '' }}">我的推薦</li>
            <li data-tab="comment" class="{{ 'active' if active == 'comment' else '' }}">我的評論</li>
            <li data-tab="settings" class="{{ 'active' if active == 'settings' else '' }}">個人設置</li>
        </ul>
</section>
<section class="content center-wrap">
    <ul class="content-list">
        {% if active == 'article' %}
            {% if data_list %}
                {% for item in data_list %}
                    <li>
                        <div class="row1 flex-r">
                            <a href="/detail?aid={{ item.aid }}" class="title">
                                {{ item.title }}
                                <span class="type">
                                        {% if item.article_type == 'first' %}
                                            首發
                                        {% elif item.article_type == 'original' %}
                                            原創
                                        {% elif item.article_type == 'share' %}
                                            分享
                                        {% elif item.article_type == 'recommend' %}
                                            推薦
                                        {% elif item.article_type == 'other' %}
                                            其它
                                        {% else %}
                                            原創
                                        {% endif %}
                                </span>
                            </a>
                            <div class="article-browse">{{ item.browse_num }}瀏覽</div>
                        </div>
                        <div class="row2 flex-r">
                            <img class="article-image" src="{{ item.article_image }}" alt="">
                            <div class="article-content">{{ item.article_content | safe }}</div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <div class="no-collection">
                    您還沒有任何創作
                </div>
            {% endif %}
        {% elif active == 'collection' %}
            {% if data_list %}
                {% for item in data_list %}
                    <li>
                        <div class="row1 flex-r">
                            <a href="/detail?aid={{ item.aid }}" class="title">
                                {{ item.title }}
                                <span class="type">
                                        {% if item.article_type == 'first' %}
                                            首發
                                        {% elif item.article_type == 'original' %}
                                            原創
                                        {% elif item.article_type == 'share' %}
                                            分享
                                        {% elif item.article_type == 'recommend' %}
                                            推薦
                                        {% elif item.article_type == 'other' %}
                                            其它
                                        {% else %}
                                            原創
                                        {% endif %}
                                </span>
                            </a>
                            <div class="article-browse">{{ item.browse_num }}瀏覽</div>
                        </div>
                        <div class="row2 flex-r">
                            <img class="article-image" src="{{ item.article_image }}" alt="">
                            <div class="article-content">{{ item.article_content | safe }}</div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <div class="no-collection">
                    您還沒有任何收藏
                </div>
            {% endif %}
        {% elif active == 'praise' %}
            {% if data_list %}
                {% for item in data_list %}
                    <li>
                        <div class="row1 flex-r">
                            <a href="/detail?aid={{ item.aid }}" class="title">
                                {{ item.title }}
                                <span class="type">
                                        {% if item.article_type == 'first' %}
                                            首發
                                        {% elif item.article_type == 'original' %}
                                            原創
                                        {% elif item.article_type == 'share' %}
                                            分享
                                        {% elif item.article_type == 'recommend' %}
                                            推薦
                                        {% elif item.article_type == 'other' %}
                                            其它
                                        {% else %}
                                            原創
                                        {% endif %}
                                </span>
                            </a>
                            <div class="article-browse">{{ item.browse_num }}瀏覽</div>
                        </div>
                        <div class="row2 flex-r">
                            <img class="article-image" src="{{ item.article_image }}" alt="">
                            <div class="article-content">{{ item.article_content | safe }}</div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <div class="no-collection">
                    您還沒有任何推薦
                </div>
            {% endif %}
        {% elif active == 'comment' %}
            {% if data_list %}
                {% for item in data_list %}
                    <li>
                        <div class="row1 flex-r">
                            <a href="/detail?aid={{ item.aid }}" class="title">
                                {{ item.title }}
                                <span class="type">
                                        {% if item.article_type == 'first' %}
                                            首發
                                        {% elif item.article_type == 'original' %}
                                            原創
                                        {% elif item.article_type == 'share' %}
                                            分享
                                        {% elif item.article_type == 'recommend' %}
                                            推薦
                                        {% elif item.article_type == 'other' %}
                                            其它
                                        {% else %}
                                            原創
                                        {% endif %}
                                </span>
                            </a>
                            <div class="article-browse">{{ item.browse_num }}瀏覽</div>
                        </div>
                        <div class="row2 flex-r">
                            <img class="article-image" src="{{ item.article_image }}" alt="">
                            <div class="article-content">{{ item.article_content | safe }}</div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="no-collection">
                    您還沒有任何評論
                </li>
            {% endif %}
        {% elif active == 'settings' %}
            <li class="settings-item reset-item">
                <div class="reset-title">修改密碼</div>
                <div>
                    <input id="password1" class="password-input" type="password" placeholder="新密碼">
                </div>
                <div>
                    <input id="password2" class="password-input" type="password" placeholder="確認新密碼">
                </div>
                <div id="pwdMsg"></div>
                <button id="passwordBtn">確認變更</button>
            </li>

            <li class="settings-item">
                <div class="slogan-title">個性簽名</div>
                <input class="slogan-input" id="slogan" type="text" placeholder="個性簽名" value="{{ '' if not user.slogan else user.slogan }}">
                <button class="slogan-btn" id="sloganBtn">確認變更</button>
            </li>
            <li class="settings-item gender-item">
                    <div class="gender-title">性別</div>
                    <label data-gender="male">
                        <input id="gender1" type="radio" name="gender" value="male">男
                    </label>
                    &nbsp;&nbsp;&nbsp;
                    <label data-gender="female">
                        <input id="gender2" type="radio" name="gender" value="female">女
                    </label>
                    <div class="gender-btn">
                        <button>確認變更</button>
                    </div>
            </li>
        {% endif %}
    </ul>
    <script>
        const $writeArticle = document.getElementById('writeArticle');

        $writeArticle.onclick = function (e) {
            location.href = '/article/new';
        };
    </script>
</section>
<div class="mask-login-modal" id="avatarModal">
    <div class="article-publish-from flex-r personal-modal">
        <i class="iconfont icon-guanbi personal-modal-close"></i>
        <div class="publish-article-left flex-c">
            <label for="xFile">
                <div class="left-top">
<!--                    <img src="/images/image-upload.png" alt="upload" id="avatarImg">-->
                    <img src="{{ user.avatar }}" alt="upload" id="avatarImg">
                </div>
            </label>
            <label>
                <div class="local" id="localAvatar">本地上傳</div>
                <input type="file" data-uid="{{ session.get('uid') }}" id="xFile" accept="image/*" style="display: none;">
            </label>
            <div class="random" data-uid="{{ session.get('uid') }}" id="randomAvatar">隨機頭像</div>
            <div class="desc">请上傳200*200px，小
                於等於80KB的PNG/
                JPG/GIF圖片
            </div>
            <button class="confirm">確認更新</button>
        </div>
    </div>
</div>
</body>
</html>