<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>葉書-重設密碼</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/newforget.css">
    <link rel="stylesheet" href="/css/resetpwd.css">
    <script src="/js/axios.min.js"></script>
    <script src="/js/resetpwd.js"></script>
</head>
<body>
    <div class="reset-container">
        <h1 class="logo">
            <img src="/images/logo.png" alt="logo">
        </h1>
        <h2 class="reset-container-title">修改密碼</h2>
        <input class="email ecode" id="recode" type="text" placeholder="Email驗證碼">
        <div class="ecode-msg" id="recodeMsg"></div>
        <input class="email" id="password1" type="password" placeholder="密碼">
        <div class="email-msg" id="pwd1Msg"></div>
        <input class="email" id="password2" type="password" placeholder="確認密碼">
        <div class="vcode-msg" id="pwd2Msg"></div>
        <a class="next-btn" id="confirmBtn" href="javascript:;">確認修改</a>
    </div>
</body>
</html>