@font-face {
  font-family: "iconfont"; /* Project id 3660579 */
  src: url('iconfont.woff2?t=1683105399944') format('woff2'),
       url('iconfont.woff?t=1683105399944') format('woff'),
       url('iconfont.ttf?t=1683105399944') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzhang1:before {
  content: "\e6c7";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-wenzhang:before {
  content: "\ed21";
}

.icon-shangjiantou:before {
  content: "\e601";
}

.icon-caogaoxiang:before {
  content: "\e618";
}

.icon-sanjiaodown:before {
  content: "\e6b5";
}

.icon-dianzan11:before {
  content: "\e61b";
}

.icon-dianzan1:before {
  content: "\e8ad";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-gouwuche1:before {
  content: "\e635";
}

.icon-you-jiantou:before {
  content: "\e657";
}

.icon-dingwei:before {
  content: "\e620";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-book:before {
  content: "\e895";
}

.icon-statistic:before {
  content: "\e602";
}

.icon-daohang:before {
  content: "\e61e";
}

.icon-chaxun:before {
  content: "\e609";
}

.icon-41:before {
  content: "\e62b";
}

.icon-31shouye:before {
  content: "\e600";
}

.icon-fangdajing:before {
  content: "\e60d";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-fenlei:before {
  content: "\e811";
}

