<aside class="left-menu">
    <ul id="leftMenuList">
        <li>
            <a class="selected" href="javascript:;">
                推薦
            </a>
        </li>
        <li>
            <a href="javascript:;">
                自動化測試
            </a>
        </li>
        <li>
            <a href="javascript:;">
                Python開發
            </a>
        </li>
        <li>
            <a href="javascript:;">
                Java開發
            </a>
        </li>
        <li>
            <a href="javascript:;">
                功能測試
            </a>
        </li>
        <li>
            <a href="javascript:;">
                性能測試
            </a>
        </li>
        <li>
            <a href="javascript:;">
                幽默段子
            </a>
        </li>
        <!--  -->
        <li>
            <a href="javascript:;">
                推薦
            </a>
        </li>
        <li>
            <a href="javascript:;">
                自動化測試
            </a>
        </li>
        <li>
            <a href="javascript:;">
                Python開發
            </a>
        </li>
        <li>
            <a href="javascript:;">
                Java開發
            </a>
        </li>
        <li>
            <a href="javascript:;">
                功能測試
            </a>
        </li>
        <li>
            <a href="javascript:;">
                性能測試
            </a>
        </li>
        <li>
            <a href="javascript:;">
                幽默段子
            </a>
        </li>

    </ul>
</aside>