<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不良人互動社群</title>
    <!-- <link rel="stylesheet" href="bs/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- <script src="bs/js/bootstrap.min.js"></script> -->
    <script src="js/index.js"></script>
    <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="js/axios.min.js"></script>
</head>
<body>
<header class="header-container">
    <div class="header center-wrap">
        <div class="header-left">
                <span class="logo">
                    <a href="/">
                        <img src="images/logo.png" alt="logo">
                    </a>
                    <!-- <img src="images/article-logo.png" alt=""> -->
                </span>
            <span class="logo-desc">
                    自由分享創作社群
                <!-- <img src="images/article-desc.png" alt=""> -->
                </span>
        </div>
        <div class="header-right">
            <div class="search-box">
                <input id="search" type="text" placeholder="搜索感興趣的文章或知識">
                <i class="iconfont icon-Magnifier" id="searchBtn"></i>
            </div>
            {% if session.get('is_login') == 'true' %}
            <div class="notification">
                <i class="iconfont icon-tongzhi1 notification-icon">
                    {% if notification_list %}
                        <i class="dot" id="reminder"></i>
                    {% endif %}
                </i>
                {% if notification_list %}
                    <div class="notification-layout">
                {% else %}
                    <div class="no-notification-layout">
                {% endif %}
                    {% if notification_list %}
                        <ul class="notification-list">
                            {% for item in notification_list %}
                                <li class="list-item flex-r">
                                    {% if item.type == 'fans' %}
                                        您關注的{{ item.nickname }}發表了文章
                                    {% else %}
                                        <a class="item-left" href="/u?user={{ item.uid }}"><img class="img1" src="{{ item.avatar }}" alt=""></a>
                                        <a href="/detail?aid={{ item.aid }}">
                                            <div class="item-middle">
                                                <div class="content flex-r">
                                                    <span>{{ item.nickname }}</span>
                                                    {% if item.type == 'concerned' %}
                                                        <span>關注</span>了您
                                                    {% else %}
                                                        <span>{{ item.type }}</span>了您的文章
                                                    {% endif %}
                                                </div>
                                                <div class="datetime">{{ item.create_time }}</div>
                                            </div>
                                        </a>
                                        {% if item.type != 'concerned' %}
                                            <a href="/detail?aid={{ item.aid }}">
                                                <img class="item-right img2" src="{{ item.article_avatar }}" alt="">
                                            </a>
                                        {% else %}
                                            <span class="item-right zhanwei"></span>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="no-notification">暫時沒有您的消息通知喔</div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <button class="write" id="writeArticle" data-action="write" data-isLogin="session.get('is_login')">
                創作者中心
            </button>
            {% if session.get('is_login') == 'true' %}
            <div class="account">
                    <span class="login nickname" id="nickname">
                        <a href="/personal">
                            {{ session.get('nickname') }}
                        </a>
                    </span>
                <span class="avatar">
    <!--                    <img src="images/headers/1.jpg" alt="">-->
                        <img src="{{ session.get('avatar') }}" alt="">
                    </span>
                <span class="register" id="logout">
                        <a href="/logout">
                            登出
                        </a>
                    </span>
            </div>
            {% else %}
            <div class="account">
                    <span class="login" id="login">
                        <a href="javascript:;">
                            登入
                        </a>
                    </span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span class="register" id="register">
                        <a href="javascript:;">
                            註冊
                        </a>
                    </span>
            </div>
            {% endif %}
        </div>
    </div>
</header>
{% block banner %}
{% endblock %}
<section class="content-wrapper center-wrap">
    {% block index %}
    {% endblock %}
</section>
<section class="pagenation flex-r">
    {% if not is_search and article_count > 10 %}
    {% if current_page != 1 %}
    <a href="?type={{ type }}&page={{ current_page - 1 }}">上一頁</a>
    {% endif %}
    <div class="paging">{{ current_page }} / {{ total_page }}</div>
    {% if current_page < total_page %}
    <a href="?type={{ type }}&page={{ current_page + 1 }}">下一頁</a>
    {% endif %}
    {% endif %}

    {% if is_search and search_count > 10 %}
    {% if spage != 1 %}
    <a href="?keyword={{ keyword }}&spage={{ spage - 1 }}">上一頁</a>
    {% endif %}
    <div class="paging">{{ spage }} / {{ search_total_page }}</div>
    {% if spage < search_total_page %}
    <a href="?keyword={{ keyword }}&spage={{ spage + 1 }}">下一頁</a>
    {% endif %}
    {% endif %}
</section>
<!-- register modal -->
<div class="mask-reg-modal" id="maskRegModal">
    <div class="reg-form" id="regForm">
        <h1 class="reg-title">帳號註册</h1>
        <input type="text" class="user-input" placeholder="請輸入您的Email" id="regEmail">
        <div id="regEmailErrMsg" class="validate-notice"></div>
        <input type="text" class="user-input" placeholder="請輸入您的密碼" id="regPassword">
        <div id="regPwdErrMsg" class="validate-notice"></div>
        <input type="text" class="user-input" placeholder="再次輸入您的密碼" id="regRePassword">
        <div class="validate-notice"></div>
        <div class="validate flex-r">
            <button class="send-code" id="sendCode">獲取驗證碼</button>
            <input type="text" class="email-code" placeholder="請輸入您的Email驗證碼" id="regCode">
        </div>
        <div class="validate-notice" id="regCodeErrMsg"></div>
        <!--        <a href="javascript:;" class="reg-btn" id="regBtn">立即註冊</a>-->
        <button class="reg-btn" id="regBtn">立即註冊</button>
        <!--        <a href="javascript:;" class="back-login" id="backLogin">已有帳號，立即登入</a>-->
        <button class="back-login" id="backLogin">已有帳號，立即登入</button>
        <!-- close -->
        <span id="regClose" class="reg-close">×</span>
    </div>
</div>
<!-- login modal -->
<div class="mask-login-modal" id="maskLoginModal">
    <div class="reg-form" id="loginForm">
        <h1 class="reg-title">帳號登錄</h1>
        <input type="text" class="user-input" placeholder="請輸入您的Email" id="loginAccount">
        <div class="login-notice" id="loginAccountMsg"></div>
        <input type="text" class="user-input" placeholder="請輸入您的密碼" id="loginPwd">
        <div class="login-notice" id="loginPwdMsg"></div>
        <!-- <input type="text" class="user-input" placeholder="再次輸入您的密碼"> -->
        <div class="validate flex-r">
            <img src="/vcode" class="image-code" id="imageCode">
            <input type="text" class="email-code" placeholder="請輸入圖片驗證碼" id="vcode">
        </div>
        <div class="login-notice" id="vcodeMsg"></div>
        <div class="login-help flex-r">
            <label>
                <input type="checkbox" class="check" id="keepLogin">7天内自動登錄
            </label>
            <a href="/newforget" target="_blank">忘記密碼</a>
        </div>
        <!--        <a href="javascript:;" class="login-btn" id="loginBtn">登錄</a>-->
        <button class="login-btn" id="loginBtn">登錄</button>
        <!--        <a href="javascript:;" class="back-reg" id="backReg">立即註冊</a>-->
        <button class="back-reg" id="backReg">沒有帳號？立即註冊</button>
        <!-- close -->
        <span id="loginClose" class="reg-close">×</span>
    </div>
</div>
<script>
    window.isLogin = '{{ session.get("is_login") }}';

    // console.log(window.isLogin);

    const $writeArticle = document.getElementById('writeArticle');

    $writeArticle.onclick = function (e) {
        location.href = '/article/new';
    };
</script>
{% include 'common/footer.html' %}
</body>
</html>