<header class="header-container">
    <div class="header center-wrap">
        <div class="header-left">
                <span class="logo">
                    <a href="/">
                        <img src="images/logo.png" alt="logo">
                    </a>
                    <!-- <img src="images/article-logo.png" alt=""> -->
                </span>
            <span class="logo-desc">
                    自由分享創作社群
                <!-- <img src="images/article-desc.png" alt=""> -->
                </span>
        </div>
        <div class="header-right">
            <div class="search-box">
                <input id="search" type="text" placeholder="搜索感興趣的文章或知識">
                <i class="iconfont icon-Magnifier" id="searchBtn"></i>
            </div>
            {% if session.get('is_login') == 'true' %}
            <div class="notification">
                <i class="iconfont icon-tongzhi1 notification-icon">
                    {% if session.get('notification_list') %}
                        <i class="dot" id="reminder"></i>
                    {% endif %}
                </i>
                {% if session.get('notification_list') %}
                    <div class="notification-layout">
                {% else %}
                    <div class="no-notification-layout">
                {% endif %}
                    {% if session.get('notification_list') %}
                        <ul class="notification-list">
                            {% for item in session.get('notification_list') %}
                                <li class="list-item flex-r">
                                    {% if item.type == 'fans' %}
                                        <a class="item-left"></a>
                                        <div class="item-middle">
                                            <div class="content flex-r">
                                                您關注的&nbsp;<a href="/u?user={{ item.uid }}" style="color: #6f4627">{{ item.nickname }}</a>&nbsp;發表了文章
                                            </div>
                                            <div class="datetime">{{ item.create_time }}</div>
                                        </div>
                                        <a href="/detail?aid={{ item.aid }}">
                                            <img class="item-right img2" src="{{ item.article_avatar }}" alt="">
                                        </a>
                                    {% else %}
                                        <a class="item-left" href="/u?user={{ item.uid }}"><img class="img1" src="{{ item.avatar }}" alt=""></a>
                                        <a href="/detail?aid={{ item.aid }}">
                                            <div class="item-middle">
                                                <div class="content flex-r">
                                                    <span>{{ item.nickname }}</span>
                                                    {% if item.type == 'concerned' %}
                                                        <span>關注</span>了您
                                                    {% else %}
                                                        <span>{{ item.type }}</span>了您的文章
                                                    {% endif %}
                                                </div>
                                                <div class="datetime">{{ item.create_time }}</div>
                                            </div>
                                        </a>
                                        {% if item.type != 'concerned' %}
                                            <a href="/detail?aid={{ item.aid }}">
                                                <img class="item-right img2" src="{{ item.article_avatar }}" alt="">
                                            </a>
                                        {% else %}
                                            <span class="item-right zhanwei"></span>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="no-notification">暫時沒有您的消息通知喔</div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <button class="write" id="writeArticle" data-action="write" data-isLogin="session.get('is_login')">創作者中心</button>
            {% if session.get('is_login') == 'true' %}
                <div class="account">
                    <span class="login nickname" id="nickname">
                        <a href="/personal">
                            {{ session.get('nickname') }}
                        </a>
                    </span>
                    <span class="avatar">
    <!--                    <img src="images/headers/1.jpg" alt="">-->
                        <img src="{{ session.get('avatar') }}" alt="">
                    </span>
                    <span class="register" id="logout">
                        <a href="/logout">
                            登出
                        </a>
                    </span>
                </div>
            {% else %}
            <div class="account">
                <span class="login" id="login">
                    <a href="javascript:;">
                        登入
                    </a>
                </span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span class="register" id="register">
                    <a href="javascript:;">
                        註冊
                    </a>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <script>
        window.isLogin = '{{ session.get("is_login") }}';
    </script>
</header>
