<main class="article-wrapper">
    {% if is_search %}
    <div class="search-result flex-r">
        <div>搜索關鍵詞 <span>{{ keyword }}</span></div>
        <div>共 <span>{{ search_count }}</span> 筆</div>
    </div>
    {% endif %}
    <div class="article-list" id="articleList" data-isLogin="{{ session.get('is_login') }}">
        {% if result %}
        {% for article, nickname in result %}
        <div class="article-row flex-r">
            <div class="row-avatar">
                <img src="{{ article.article_image }}" alt="">
            </div>
            <div class="row-desc flex-c">
                <div class="article-title flex-r">
                    <a href="/detail?aid={{ article.aid }}">
                        {{ article.title }}
                    </a>
                    {% if session.get('is_login') == 'true' %}
                    <span class="collection" data-collected="{{ article.is_collected }}"
                          data-aid="{{ article.aid }}">{{ '取消收藏' if article.is_collected else '收藏' }}
                    </span>
                    {% else %}
                    <span class="collection" data-collected="{{ article.is_collected }}"
                          data-aid="{{ article.aid }}">收藏</span>
                    {% endif %}
                </div>
                <div class="article-info flex-r">
                    <div class="info-left">
                                <span class="label">
                                    {{ article.label }}
                                </span>
                        <span class="views">
                                            <i class="iconfont icon-yanjing"></i>
                                            <span>
                                                {{ article.browse_num }}
                                            </span>
                                        </span>
                        <span>
                                    {{ nickname }}
                                </span>
                        <span>
                                    {{ article.article_tag }}
                                </span>
                    </div>
                    <div class="info-right">
                                <span>
                                    {{ article.create_time }}
                                </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>什麼都沒有，寫個文章吧</p>
        {% endif %}
    </div>
    <script>
        // 登入後
        const $collection = document.getElementsByClassName('collection');

        for (item of $collection) {
            if (item.getAttribute('data-collected') === '0') {
                item.style.width = '5%';
            } else {
                item.style.width = '10%';
            }
        }

        const $articleList = document.getElementById('articleList');

        $articleList.onclick = (e) => {
            const self = e.target;
            const aid = self.getAttribute('data-aid');
            let collected = parseInt(self.getAttribute('data-collected'));

            if (aid) {
                if (collected) {
                    collected = 0;
                    axios.post('/collect/update', {
                        aid: aid,
                        collected: collected
                    }).then(res => {
                        if (res.data.status === 3000) {
                            self.setAttribute('data-collected', collected);
                            self.innerHTML = '收藏';
                            self.style.width = '5%';
                        }
                    });
                } else {
                    collected = 1;
                    axios.post('/collect/update', {
                        aid: aid,
                        collected: collected
                    }).then(res => {
                        if (res.data.status === 3000) {
                            self.setAttribute('data-collected', collected);
                            self.innerHTML = '取消收藏';
                            self.style.width = '10%';
                        }
                    });
                }
            }
        };
        // const alterCollect = (self) => {
        //     let collected = parseInt(self.getAttribute('data-collected'));
        //     const aid = self.getAttribute('data-aid');
        //     if (collected) {
        //         collected = 0;
        //         axios.post('/collect/update', {
        //             aid: aid,
        //             collected: collected
        //         }).then(res => {
        //             if (res.data.status === 3000) {
        //                 self.setAttribute('data-collected', collected);
        //                 self.innerHTML = '收藏';
        //             }
        //         });
        //     } else {
        //         collected = 1;
        //         axios.post('/collect/update', {
        //             aid: aid,
        //             collected: collected
        //         }).then(res => {
        //             if (res.data.status === 3000) {
        //                 self.setAttribute('data-collected', collected);
        //                 self.innerHTML = '取消收藏';
        //             }
        //         });
        //     }
        // };
    </script>
</main>