<main class="article-wrapper">
    <div class="article-list">
        <div class="article-row flex-r">
            <div class="row-avatar">
                <img src="images/article_img.jpg" alt="">
            </div>
            <div class="row-desc flex-c">
                <div class="article-title flex-r">
                            <span>
                                【中奖公告】成长故事分享：聊聊你的进步经历，与君共勉
                            </span>
                    <span class="collection">
                                收藏
                            </span>
                </div>
                <div class="article-info flex-r">
                    <div class="info-left">
                        <span class="label">职场生活</span>
                        <span class="views">
                                    <i class="iconfont icon-yanjing"></i>
                                    <span>3562</span>
                                </span>
                        <span>慕课网官方_运营中心</span>
                        <span>职场生活</span>
                        <span>征文</span>
                        <span>活动</span>
                    </div>
                    <div class="info-right">
                        <span>05.19</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-row flex-r">
            <div class="row-avatar">
                <img src="images/article_img.jpg" alt="">
            </div>
            <div class="row-desc flex-c">
                <div class="article-title flex-r">
                            <span>
                                【中奖公告】成长故事分享：聊聊你的进步经历，与君共勉
                            </span>
                    <span class="collection">
                                收藏
                            </span>
                </div>
                <div class="article-info flex-r">
                    <div class="info-left">
                        <span class="label">职场生活</span>
                        <span>3562</span>
                        <span>慕课网官方_运营中心</span>
                        <span>职场生活</span>
                        <span>征文</span>
                        <span>活动</span>
                    </div>
                    <div class="info-right">
                        <span>05.19</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-row flex-r">
            <div class="row-avatar">
                <img src="images/article_img.jpg" alt="">
            </div>
            <div class="row-desc flex-c">
                <div class="article-title flex-r">
                            <span>
                                【中奖公告】成长故事分享：聊聊你的进步经历，与君共勉
                            </span>
                    <span class="collection">
                                收藏
                            </span>
                </div>
                <div class="article-info flex-r">
                    <div class="info-left">
                        <span class="label">职场生活</span>
                        <span>3562</span>
                        <span>慕课网官方_运营中心</span>
                        <span>职场生活</span>
                        <span>征文</span>
                        <span>活动</span>
                    </div>
                    <div class="info-right">
                        <span>05.19</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-row flex-r">
            <div class="row-avatar">
                <img src="images/article_img.jpg" alt="">
            </div>
            <div class="row-desc flex-c">
                <div class="article-title flex-r">
                            <span>
                                【中奖公告】成长故事分享：聊聊你的进步经历，与君共勉
                            </span>
                    <span class="collection">
                                收藏
                            </span>
                </div>
                <div class="article-info flex-r">
                    <div class="info-left">
                        <span class="label">职场生活</span>
                        <span>
                                    <i class="iconfont icon-yanjing"></i>3562
                                </span>
                        <span>慕课网官方_运营中心</span>
                        <span>职场生活</span>
                        <span>征文</span>
                        <span>活动</span>
                    </div>
                    <div class="info-right">
                        <span>05.19</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-row flex-r">
            <div class="row-avatar">
                <img src="images/article_img.jpg" alt="">
            </div>
            <div class="row-desc flex-c">
                <div class="article-title flex-r">
                            <span>
                                【中奖公告】成长故事分享：聊聊你的进步经历，与君共勉
                            </span>
                    <span class="collection">
                                收藏
                            </span>
                </div>
                <div class="article-info flex-r">
                    <div class="info-left">
                        <span class="label">职场生活</span>
                        <span>3562</span>
                        <span>慕课网官方_运营中心</span>
                        <span>职场生活</span>
                        <span>征文</span>
                        <span>活动</span>
                    </div>
                    <div class="info-right">
                        <span>05.19</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>