body {
    background-color: #f8fafc;
    padding-bottom: 40px;
}

.detail-container {
    margin-top: 75px;
    background-color: #f8fafc;
    position: relative;
}

.detail-container .side-menu {
    position: fixed;
    top: 125px;
    left: 5%;
    width: 5%;
    height: 300px;
    background-color: transparent;
    text-align: center;
}

.detail-container .side-menu .side-praise-container {
    justify-content: center;
    margin-bottom: 5px;
}

.detail-container .side-menu .side-recommend {
    /*text-align: center;*/
    font-size: 12px;
    color: #9199a1;
}

.detail-container .side-menu .side-praise-container .side-praise-wrapper {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff6e5;
    cursor: pointer;
}

.detail-container .side-menu .side-praise-container .side-praise-wrapper.praise-alter {
    background-color: #ffaa00;
}

.detail-container .side-menu .side-praise-container .side-praise-wrapper i {
    color: #ffaa00;
    font-size: 24px;
    position: relative;
    top: -2px;
    font-weight: bold;
}

.detail-container .side-menu .side-praise-container .side-praise-wrapper i.i-alter {
    color: #fff;
}

.detail-container .detail-wrap {
    /*position: relative;*/
    /*border: 1px solid black;*/
}

.detail-container .detail-wrap .detail-path {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    /*width: 72%;*/
}

.detail-container .detail-wrap .detail-path .detail-path-title {
    font-size: 14px;
    color: #1c1f21;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
    /*margin-right: 200px;*/
}

.detail-container .detail-wrap .detail-path .share > i {
    cursor: pointer;
    margin-right: 5px;
    font-size: 30px;
}

.detail-container .detail-wrap .detail-path .share > i:last-child {
    margin-right: 0;
}

.detail-container .detail-wrap .detail-path .share .facebook {
    color: #4267b2;
}

.detail-container .detail-wrap .detail-path .share .line {
    color: #00c300;
}

.detail-container .detail-wrap .detail-path .share .twitter {
    color: #2ca8d2;
}

.detail-container .detail-wrap .detail-path .share .weibo {
    color: #d6283d;
    font-size: 26px;
    position: relative;
    top: -2px;
}

.detail-container .detail-wrap .detail-main {
    display: flex;
    justify-content: space-between;
}

.detail-container .detail-wrap .detail-main .detail-main-left,
.detail-container .detail-wrap .detail-main .detail-main-right {
    border-radius: 12px;
}

.detail-container .detail-wrap .detail-main .detail-main-left {
    background-color: #fff;
    width: 72%;
    padding: 20px;
}

.detail-container .detail-wrap .detail-main .detail-main-right {
    width: 25%;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-left-title {
    margin-bottom: 15px;
    font-size: 32px;
    color: #1c1f21;
    font-weight: bold;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-left-info {
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    line-height: 30px;
    height: 30px;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-left-info .detail-info-tag {
    flex: 1;
    display: flex;
    align-items: center;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-left-info .detail-info-tag .tag-name {
    margin-right: 10px;
    font-size: 12px;
    color: #9199a1;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-left-info .detail-info-tag .tag-value {
    font-size: 12px;
    color: #6f4627;
    background-color: #f5f8ff;
    padding: 0 6px;
    border-radius: 12px;
    margin-right: 10px;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-left-info .detail-info-tag .tag-value:last-child {
    margin-right: 0;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-left-info .detail-info-collection {
    width: 58px;
    height: 36px;
    font-size: 12px;
    /*padding: 12px 17px;*/
    background-color: #6f4627;
    color: #fff;
    line-height: 36px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    top: -2px;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-content-wrapper img {
    width: 100%;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top,
.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-info {
    /*align-items: center;*/
    /*justify-content: space-between;*/
    margin-bottom: 15px;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-info .author-avatar {
    margin-right: 10px;
    /*flex-shrink: 1;*/
    /*flex: 1;*/
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-info .author-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-info .author-desc {
    /*flex-shrink: 1;*/
    /*flex: 1;*/
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-info .author-desc .author-name {
    font-weight: bold;
    color: #1c1f21;
    font-size: 16px;
    margin-bottom: 5px;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-info .author-desc .author-title {
    margin-top: 5px;
    font-size: 12px;
    color: #545c63;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement {
    /*justify-content: space-between;*/
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement .aleft,
.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement .fans,
.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement .aright {
    font-size: 14px;
    color: #1c1f21;
    flex: 1;
}

/*.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement .aright {*/
/*    flex: 2;*/
/*}*/

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement-grade {
    margin-top: 10px;
    /*justify-content: space-evenly;*/
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement-grade .grade-left,
.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement-grade .grade-middle,
.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement-grade .grade-right {
    font-size: 14px;
    color: #1c1f21;
    flex: 1;
}

/*.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .author-achievement-grade .grade-right {*/
/*    flex: 1;*/
/*}*/

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-top .concern {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #6f4627;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 45px;
    border-radius: 10px;
    cursor: pointer;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom {
    margin-bottom: 0;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom .recommend-title {
    color: #07111b;
    font-weight: bold;
    margin-bottom: 10px;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom .recommend-list {
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom .recommend-list .recommend-item {
    /*height: 66px;*/
    /*max-height: 66px;*/
    line-height: 22px;
    font-size: 14px;
    color: #545c63;
    border-bottom: 1px solid rgba(43,51,59,.1);
    /*padding: 13px 0;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    justify-content: space-evenly;
    /*margin: 10px 0;*/
    margin-bottom: 5px;
    padding: 5px 0;
    /*box-sizing: border-box;*/
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom .recommend-list .recommend-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom .recommend-list .recommend-item .recommend-item-content {
    font-size: 14px;
    color: #545c63;
    flex: 1;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom .recommend-list .recommend-item .recommend-item-content a:hover {
    color: #3377ff;
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom .recommend-list .recommend-item:last-child {
    border-bottom: none;
    /*margin-bottom: -10px;*/
}

.detail-container .detail-wrap .detail-main .detail-main-right .detail-right-bottom .recommend-list .recommend-item > span {
    font-size: 16px;
    color: #9199a1;
    width: 26px;
    /*line-height: 0;*/
    /*display: inline-block;*/
    /*width: 16px;*/
    /*height: 16.67px;*/
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-publish {
    margin: 20px;
    font-size: 14px;
    color: #1c1f21;
}

.detail-container .detail-wrap .detail-main .detail-main-left .detail-inform {
    margin: 0;
    padding-left: 20px;
    font-size: 14px;
    color: #9199a1;
}

.detail-container .detail-wrap .detail-main .detail-main-left .praise-container {
    /*margin: 20px auto;*/
    /*text-align: center;*/
    /*width: 100%;*/
    margin: 20px 0 7px 0;
    display: flex;
    justify-content: center;
    /*margin-bottom: 7px;*/
}

.detail-container .detail-wrap .detail-main .detail-main-left .praise-container .praise-wrapper {
    width: 72px;
    height: 72px;
    /*border: 1px solid #000;*/
    text-align: center;
    line-height: 72px;
    border-radius: 50%;
    background-color: #fff6e5;
    cursor: pointer;
    /*text-align: center;*/
    /*text-align: center;*/
}

.detail-container .detail-wrap .detail-main .detail-main-left .praise-container .praise-wrapper.praise-alter {
    background-color: #ffaa00;
}

.detail-container .detail-wrap .detail-main .detail-main-left .praise-container .praise-wrapper i {
    color: #ffaa00;
    font-size: 36px;
    position: relative;
    top: -2px;
    font-weight: bold;
}

.detail-container .detail-wrap .detail-main .detail-main-left .praise-container .praise-wrapper i.i-alter {
    color: #fff;
}

.detail-container .detail-wrap .detail-main .detail-main-left .forta {
    text-align: center;
    font-size: 14px;
    color: #545c63;
}

.detail-container .detail-wrap .detail-comment-num {
    margin: 20px 0;
    color: #07111b;
    line-height: 24px;
    font-weight: bold;
}

.detail-container .detail-wrap .detail-comment {
    /*margin-top: 20px;*/
    width: 72%;
    /*height: 500px;*/
    /*background-color: orange;*/
    border-radius: 12px;
    padding: 30px;
    background-color: #fff;
}

/*.detail-container .detail-wrap .useless-detail-comment {*/
/*    width: 20%;*/
/*    background-color: orange;*/
/*    height: 200px;*/
/*    !*float: right;*!*/
/*}*/

.detail-container .detail-wrap .detail-comment .write-comment {
    align-items: center;
    border-bottom: 1px solid #ebebec;
    padding-bottom: 30px;
}

.detail-container .detail-wrap .detail-comment .write-comment .write-left {
    color: #1c1f21;
    font-weight: bold;
    margin-right: 20px;
    width: 48px;
    text-align: center;
}

.detail-container .detail-wrap .detail-comment .write-comment .write-right {
    height: 48px;
    padding: 12px 16px;
    background-color: #f3f5f6;
    border-radius: 6px;
    color: #9199a1;
    /*flex: 1;*/
    width: 80%;
}

.detail-container .detail-wrap .detail-comment .no-comment {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #1c1f21;
}

.detail-container .detail-wrap .detail-comment .comment-item {
    padding: 30px 0;
    border-bottom: 1px solid #ebebec;
    /*clear: both;*/
    /*width: 100%;*/
    flex-wrap: wrap;
    /*overflow: hidden;*/
    /*width: 70%;*/
    /*display: inline-flex;*/
    /*flex-wrap: wrap;*/
    /*width: 100%;*/
}

.detail-container .detail-wrap .detail-comment .comment-item:last-child {
    border-bottom: none;
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-left {
    width: 48px;
    flex-shrink: 1;
}
.detail-container .detail-wrap .detail-comment .comment-item .comment-item-left-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: .8;
    margin-bottom: 10px;
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-left-avatar img:hover {
    opacity: 1;
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-left-floor {
    font-size: 12px;
    color: #b7bbbf;
    text-align: center;
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right {
    flex: 1;
    /*width: 100%;*/
    margin-left: 20px;
    /*flex-shrink: 1;*/
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-item-right-author {
    color: #07111b;
    font-size: 14px;
    font-weight: bold;
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-item-right-content {
    margin: 20px 0;
    /*flex: 1;*/
}

.comment-item-right-info {
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    /*flex-shrink: 1;*/
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-item-right-action {
    /*height: 32px;*/
    align-items: center;
    /*flex-shrink: 1;*/
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-date {
    font-size: 12px;
    color: #9199a1;
    /*flex-shrink: 1;*/
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-item-right-action .action-praise {
    margin-right: 24px;
    cursor: pointer;
    /*background-color: #ededee;*/
    /*padding: 0 16px;*/
    /*height: 32px;*/
    /*border-radius: 16px;*/
    /*line-height: 32px;*/
    /*align-items: flex-end;*/
    /*height: 32px;*/
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-item-right-action .action-praise i {
    /*margin-right: 5px;*/
    font-size: 19px;
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-item-right-action .action-praise .dianzan-num {
    font-size: 10px;
    color: #545c63;

    /*line-height: 32px;*/
    /*padding-top: 2px;*/
    /*line-height: 32px;*/
    /*display: inline-block;*/
    /*padding-bottom: 30px;*/
    /*line-height: 16px;*/
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-item-right-action .action-reply {
    font-size: 12px;
    color: #9199a1;
    cursor: pointer;
}

.detail-container .detail-wrap .detail-comment .comment-item .comment-item-right .comment-item-right-action .action-reply:hover {
    color: #1c1f21;
}

.detail-container .detail-wrap .detail-comment .comment-item > .comment-reply {
    /*padding: 30px 0 30px 10%;*/
    padding: 30px 0 0 66px;
    width: 100%;
    /*padding-left: 10%;*/
    /*margin-top: 100px;*/
    /*border-bottom: 1px solid #ebebec;*/
    /*width: 200px;*/
    /*flex-wrap: wrap;*/
}

.detail-container .detail-wrap .detail-comment .comment-item > .comment-reply .reply-author {
    color: #9199a1;
    font-weight: normal;
    /*margin-right: 2px;*/
}

.detail-container .detail-wrap .detail-comment .comment-item > .comment-reply .reply-content {
    margin: 5px 0 15px 0;
}

.detail-container .comment-mask-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: none;
    /*z-index: 9999999;*/
}

.detail-container .comment-mask-modal > .comment-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 704px;
    height: 324px;
    margin-top: -162px;
    margin-left: -352px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 30px;
}

.detail-container .comment-mask-modal > .comment-window .comment-window-title {
    justify-content: space-between;
    /*margin-bottom: 20px;*/
}

.detail-container .comment-mask-modal > .comment-window .comment-window-title span:nth-child(1) {
    font-weight: 700;
    color: #1c1f21;
}

.detail-container .comment-mask-modal > .comment-window .comment-window-title span:nth-child(2) {
    font-size: 30px;
    opacity: .7;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    top: -12px;
    /*width: 50px;*/
    /*height: 50px;*/
    /*font-size: 24px;*/
}

.detail-container .comment-mask-modal > .comment-window .comment-window-title span:nth-child(2):hover {
    opacity: 1;
}

.detail-container .comment-mask-modal > .comment-window .comment-editor {
    /*z-index: 9999999;*/
    /*overflow: hidden;*/
    /*height: 200px;*/
}

.detail-container .comment-mask-modal > .comment-window .comment-submit {
    justify-content: flex-end;
    align-items: center;
    /*margin-top: 20px;*/
    /*text-align: right;*/
    /*background-color: #6f4627;*/
    /*color: #fff;*/
}

.detail-container .comment-mask-modal > .comment-window .comment-submit .submit {
    margin: 17px 0;
    width: 60px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #6f4627;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    /*border: none;*/
    /*outline: none;*/
}

.reply-author-comment {
    padding: 30px 0 0 66px;
    width: 100%;
    min-width: 100%;
    display: none;
}

.reply-author-comment .reply-container {
    /*width: 100%;*/
    /*min-width: 100%;*/
    flex-wrap: wrap;
}

.reply-author-comment .reply-container img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 20px;
    /*flex: 48px;*/
    flex-shrink: 1;
}

.reply-author-comment .reply-container textarea {
    width: 450px;
    height: 80px;
    resize: none;
    padding: 8px 12px;
    border: 1px solid #d9dde1;
    outline: none;
    flex: 1;
    /*flex-shrink: 1;*/
}

.reply-author-comment .reply-actions {
    /*flex-wrap: wrap;*/
    /*margin-right: 88px;*/
    margin-top: 20px;
    /*justify-content: flex-end;*/
    width: 100%;
    /*text-align: right;*/
    /*padding-right: 100px;*/
    font-size: 12px;
    justify-content: flex-end;
    /*padding-right: 100px;*/
    /*position: relative;*/
    /*right: 15%;*/
}

.reply-author-comment .reply-actions .reply-actions-cancel,
.reply-author-comment .reply-actions .reply-actions-submit {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;

}

.reply-author-comment .reply-actions .reply-actions-cancel {
    background-color: #fff;
    color: #93999f;
    border: 1px solid #d9dde1;
    margin-right: 10px;
}

.reply-author-comment .reply-actions .reply-actions-submit {
    background-color: #6f4627;
    color: #fff;
    border: none;
}
/*.detail-container .detail-wrap .detail-comment .comment-item > .comment-reply .reply-reply {*/
/*    */
/*}*/