.footer-container {
    height: 100px;
    background-color: #545c63;
    /*position: relative;*/
}

.footer-container .footer-inner {
    height: 100px;
    align-items: center;
    justify-content: center;
}

.footer-container .footer-inner .copyright {
    color: #fff;
}

.footer-container .footer-inner .line-feedback,
.footer-container .footer-inner .line-wechat {
    /*color: #fff;*/
    width: 50px;
    height: 50px;
    cursor: pointer;
    /*color: #fff;*/
}

.footer-container .footer-inner .line-feedback {
    margin: 0 20px;
}

.footer-container .footer-inner .line-container {
    position: relative;
}

.footer-container .footer-inner .line-container:hover .line-feedback-modal {
    display: block;
}

.footer-container .footer-inner .line-feedback-modal {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -180px;
    left: -30px;
    display: none;
    background-color: #6f4627;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.footer-container .footer-inner .line-feedback-modal .desc {
    /*color: #fff;*/
    /*text-align: center;*/
}

.footer-container .footer-inner .line-feedback-modal > img {
    width: 150px;
    height: 150px;
}


