@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../fonts/iconfont.ttf?t=1691024483735') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e650";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-weibo:before {
  content: "\e62e";
}

.icon-shoucang:before {
  content: "\e62a";
}

.icon-shoucangxuanzhong:before {
  content: "\e62b";
}

.icon-twitterB:before {
  content: "\e9fc";
}

.icon-line:before {
  content: "\f1e6";
}

.icon-Magnifier:before {
  content: "\e62d";
}

.icon-dianzan:before {
  content: "\e510";
}

.icon-tuite:before {
  content: "\ee49";
}

.icon-caogao05:before {
  content: "\eb2f";
}

