@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../fonts/iconfont.ttf?t=1693487071262') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e650";
}

.icon-quanxianfuzhi:before {
  content: "\e62b";
}

.icon-71shibai:before {
  content: "\e64a";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-weibo:before {
  content: "\e62e";
}

.icon-wechat:before {
  content: "\e891";
}

.icon-shoucang:before {
  content: "\e62a";
}

.icon-shoucangxuanzhong:before {
  content: "\e62c";
}

.icon-shangjiantou:before {
  content: "\f034d";
}

.icon-xiajiantou:before {
  content: "\f034e";
}

.icon-pinglun:before {
  content: "\f0302";
}

.icon-twitterB:before {
  content: "\e9fc";
}

.icon-shangjiantou1:before {
  content: "\eb6d";
}

.icon-jinggao:before {
  content: "\e610";
}

.icon-line:before {
  content: "\f1e6";
}

.icon-Magnifier:before {
  content: "\e62d";
}

.icon-sex_man:before {
  content: "\e611";
}

.icon-sex_woman:before {
  content: "\e617";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-chenggong:before {
  content: "\e630";
}

.icon-wechat1:before {
  content: "\e618";
}

.icon-tongzhi:before {
  content: "\e608";
}

.icon-dianzan:before {
  content: "\e510";
}

.icon-tongzhi1:before {
  content: "\e60a";
}

.icon-shangjiantou2:before {
  content: "\e606";
}

.icon-line1:before {
  content: "\e6fb";
}

.icon-tuite:before {
  content: "\ee49";
}

.icon-caogao05:before {
  content: "\eb2f";
}

