body {
    background-color: #f8fafc;
    height: 100vh;
}

.reset-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 384px;
    height: 380px;
    margin-top: -200px;
    margin-left: -192px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(7 17 27 / 15%);
}

.reset-container .logo {
    margin-bottom: 20px;
    text-align: center;
}

.reset-container .logo img {
    width: 142.5px;
    height: 54px;
}

.reset-container .reset-container-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #1c1f21;
    margin-bottom: 20px;
}

.reset-container .email,
.reset-container .code-container input {
    height: 48px;
    border-radius: 10px;
    background-color: #e8f0fe;
    padding: 0 20px;
    width: 100%;
    /*margin-bottom: 20px;*/
}

.reset-container .code-container {
    /*margin-bottom: 20px;*/
}

.reset-container .code-container img {
    height: 48px;
    width: 96px;
    margin-right: 10px;
    cursor: pointer;
}

.reset-container .code-container input {
    flex: 1;
}

.reset-container .next-btn {
    margin-top: 20px;
    display: block;
    height: 48px;
    width: 100%;
    line-height: 48px;
    text-align: center;
    border-radius: 18px;
    background-color: #6f4627;
    color: #fff;
}

.reset-container .email-msg,
.reset-container .vcode-msg {
    height: 20px;
    color: #ef1300;
    /*box-sizing: border-box;*/
}

