body {
    /*padding-top: 10px;*/
    /*padding-bottom: 30px;*/
    /*background-color: #fff;*/
    /*height: 300px;*/
    overflow: auto;
}

.header-right {
    padding-top: 10px;
    /*align-items: center !important;*/
    /*line-height: 75px !important;*/
    /*padding-top: 3px;*/
    /*position: fixed;*/
    /*z-index: 999999 !important;*/
}

.personal-header {
    margin-top: 75px;
    background: url("/images/personal_background.png") no-repeat center;
    /*background-position: contain;*/
    /*width: 100%;*/
    /*line-height: 148px;*/
    height: 148px;
}

.personal-header .header-wrap {
    position: relative;
    justify-content: space-between;
    align-items: center;
}

/*.personal-header .header-left .avatar {*/
/*    */
/*    width: 140px;*/
/*    height: 140px;*/
/*    border-radius: 50%;*/
/*}*/
.personal-header .header-left {
    align-items: center;
}

.personal-header .header-left .avatar {
    position: relative;
    width: 150px;
    height: 150px;
}

.personal-header .header-left .avatar .tip {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    right: -140px;
    bottom: 5px;
    width: 130px;
    height: 20px;
    line-height: 20px;
    /*background-color: #fff;*/
    font-size: 12px;
    background-color: transparent;
    color: #fff;
}

.personal-header .header-left .avatar > img {
    /*position: relative;*/
    /*top: 20px;*/
    /*left: 0;*/
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.personal-header .header-left .avatar > .camera-circle {
    position: absolute;
    /*top: 10px;*/
    /*left: -20px;*/
    right: -10px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #142747;
    /*background-color: transparent;*/
    cursor: pointer;
    /*border: 1px solid blue;*/
}

.personal-header .header-left .avatar > .camera-circle > i {
    color: #fff;
    font-weight: bold;
}

.personal-header .header-left .info {
    margin-left: 20px;
    color: #fff;
}

.personal-header .header-left .info div:first-child {
    margin-bottom: 20px;
}

.personal-header .header-right {
    width: 30%;
    margin-top: -10px;
    /*height: 148px;*/
    /*height: 148px;*/
    /*line-height: 148px;*/
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.personal-header .header-right > div {
    /*align-items: center;*/
    /*position: relative;*/
    /*top: -5px;*/
    text-align: center;
}

.personal-header .header-right div > div:first-child {
    margin-bottom: 10px;
}

.tabs {
    height: 58px;
    border-bottom: 1px solid #d4d5d7;
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
}

.tabs ul {
    justify-content: space-evenly;
    align-items: center;
}

.tabs ul > li {
    height: 58px;
    line-height: 58px;
    cursor: pointer;
}

.tabs ul > li:hover {
    border-bottom: 2px solid #6f4627;
}

.active {
    border-bottom: 2px solid #6f4627;
}

.content {
    /*position: relative;*/
}



.content-list {
    width: 77%;
    margin: 0 auto 30px auto;
    /*height: 5000px;*/
    /*overflow: scroll;*/
    /*position: relative;*/
    /*text-align: center;*/
}

.no-collection {
    /*position: absolute;*/
    text-align: center;
    margin-top: 100px;
}

.content-list li {
    height: 300px;
    padding: 20px 0 50px 0;
    border-bottom: 1px solid #6f4627;
    /*border-bottom: 1px solid #d4d5d7;*/
    overflow: hidden;
    /*overflow: auto;*/
}

.content-list li .row1 {
    align-items: center;
    margin-bottom: 20px;
    /*flex-wrap: nowrap;*/
    justify-content: space-between;
}

.content-list li .row1 .title {
    font-size: 20px;
    color: #14191e;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    width: 50%;
}

.content-list li .row1 .title:hover {
    color: #3377ff;
}

.content-list li .row1 .title .type {
    position: relative;
    top: -3px;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    /*width: 20%;*/
    /*flex: 1;*/
    /*position: relative;*/
    /*top: 1px;*/
    /*text-align: left;*/
    /*line-height: 27px;*/
    /*margin-left: 10px;*/
    /*border: 1px solid blue;*/
    /*color: #71777d;*/
    padding: 5px;
    color: #fff;
    background-color: #6f4627;
    /*text-align: left;*/
    /*line-height: 20px;*/
}

.content-list li .row1 .article-browse {
    color: #b5b9bc;
}

.content-list li .row1 .row1-right {
    width: 11%;
    justify-content: space-between;
}

.content-list li .row1 .row1-right .article-remove {
    color: #aa1111;
    cursor: pointer;
}

.content-list li .row2 {
    /*margin-bottom: 20px;*/
    /*justify-content: space-between;*/
}

.content-list li .row2 img {
    width: 100%;
    /*overflow: hidden;*/
}

.content-list li .row2 .article-image {
    /*width: 100%;*/
    width: 210px;
    height: 130px;
    /*height: 130px;*/
    margin-right: 20px;
    /*overflow: hidden;*/
    /*text-overflow:ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
}

.content-list li .row2 .article-content {
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    /*-webkit-box-orient: horizontal;*/
    /*-webkit-box-orient: horizontal;*/
}

.settings {
    width: 109px;
    height: 35px;
    border-radius: 10px;
    justify-content: space-between;
    /*text-align: right;*/
    border: 1px solid rgba(255,255,255,.4);
    line-height: 35px;
    /*cursor: pointer;*/
    /*padding-bottom: 10px;*/
    font-size: 14px;
    text-align: center;
    color: #fff;
    /*padding: 0 !important;*/
}

.settings i {
    font-size: 16px;
    /*color: #ced2d7;*/
}

.settings span {
    position: relative;
    top: -1px;
}

.personal-modal {
    position: relative;
    width: 30% !important;
    margin-left: -15% !important;
}

.personal-modal .personal-modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    font-size: 16px;
}

.personal-modal .personal-modal-close:hover {
    color: #b94a48;
}

#avatarImg {
    width: 128px;
    height: 128px;
}

.confirm {
    margin-top: 30px;
    width: 128px;
    height: 24px;
    border: none;
    color: #fff;
    background-color: #6f4627;
    border-radius: 12px;
    cursor: pointer;
}

.content-list li.settings-item {
    text-align: center;
    border-bottom: 1px solid #d4d5d7 !important;
    height: 100px;
    padding-top: 15px;
}

.content-list .settings-item button {
    border: none;
    background-color: #3a87ad;
    padding: 6px 10px;
    color: #fff;
    /*width: 100px;*/
    /*height: 50px;*/
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.content-list .settings-item .slogan-title,
.content-list .settings-item .gender-title,
.content-list .settings-item .reset-title {
    /*font-size: 14px;*/
    font-weight: bold;
    margin-bottom: 10px;
}

.content-list .settings-item .slogan-input,
.content-list .settings-item .password-input,
.content-list .settings-item .nickname-input {
    display: inline-block;
    background-color: #fff;
    height: 30px;
    padding-left: 5px;
}

.content-list .settings-item .password-input {
    margin-bottom: 10px;
}

/*.content-list .settings-item .nickname-input {*/
/*    margin-bottom: 0;*/
/*}*/

/*.content-list .settings-item input[type='radio'] {*/
/*    margin-right: 5px;*/
/*    margin-left: 10px;*/
/*}*/

/*.content-list .settings-item input[type='radio']:nth-child(1) {*/
/*    !*margin-right: 10px;*!*/
/*}*/

.content-list .settings-item.gender-item {
    /*width: 15%;*/
    height: 125px;
}

.content-list .settings-item.gender-item .gender-container {
    justify-content: center;
}

.content-list .settings-item.gender-item .gender-container input[type='radio'] {
    margin-right: 3px;
}

.content-list .settings-item.reset-item {
    height: 180px;
}

.content-list .settings-item.slogan-item {
    height: 135px;
}

.content-list .settings-item .gender-btn {
    margin: 10px 0 20px 0;
    /*display: block;*/
    /*text-align: center;*/
}

.content-list .settings-item .slogan-btn {
    /*text-align: center;*/
    /*display: block;*/
    position: relative;
    top: -.3px;
}

#pwdMsg {
    font-size: 12px;
    color: #aa1111;
    height: 15px;
}

#nicknameMsg {
    height: 15px;
    font-size: 12px;
    color: #aa1111;
    /*height: 5px;*/
}
/*#nicknameMsg.alter {*/
/*    color: #3377ff;*/
/*}*/

#pwdMsg.alter {
    color: #3377ff;
}

#password2 {
    margin-bottom: 0;
}

.settings-item.self-item {
    height: 200px !important;
}

.settings-item.self-item textarea.self {
    margin-bottom: 10px;
    resize: none;
    outline: none;
    border: none;
    width: 50%;
    height: 100px;
    padding: 5px;
    overflow-y: auto;
}
/* success modal */
.success-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 1500px;*/
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 99999999;
    display: none;
}

.success-modal .success {
    position: absolute;
    width: 15%;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -7.5%;
    margin-top: -80px;
    background-color: #fff;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.success-modal .success .icon-chenggong {
    color: #3377ff;
    margin-right: 5px;
}
/* error modal */
.error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 1500px;*/
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 99999999;
    display: none;
}

.error-modal .error {
    position: absolute;
    width: 15%;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -7.5%;
    margin-top: -80px;
    background-color: #fff;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.error-modal .error .icon-71shibai {
    color: #aa1111;
    margin-right: 5px;
}
/* alert modal */
.alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 1500px;*/
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 99999999;
    display: none;
}

.alert-modal .alert {
    position: absolute;
    width: 15%;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -7.5%;
    margin-top: -80px;
    background-color: #fff;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.alert-modal .alert .icon-jinggao {
    color: #aa1111;
    margin-right: 5px;
}

.introduce-title {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 5px;
}

.introduce-words {
    display: inline-block;
    color: #9199a1;
}